[2019-09-25 21:20] #286 closed

[2019-09-25 21:20] #313 closed

[2019-09-26 01:59] emschwartz opened #335 "Make examples use CLI args vs env vars consistently"
@gakonst pointed out that they're mixed right now in https://github.com/interledger-rs/interledger-rs/blob/master/examples/eth-settlement/README.md

[2019-09-26 02:25] gakonst commented on #327
I think I'm more in favor of 2.

We can have a new repo called `interledger-rust-tutorials` and move everything there. We could have a CI pipeline that runs the `.md` files as tests anytime there's a change in `master` of `interledger.rs`, and notifies us if we break something so that we make a PR for it.

Also, what is the use of the `USE_DOCKER==1` branches in all our examples? Docker should be

[2019-09-26 02:32] emschwartz commented on #327
What's the benefit of moving it to a different repo? My thought on 2 was less about moving the tutorials themselves to a different repo and more about essentially moving the `run-md.sh` script to a different repo and documenting how it works better.

If you run the examples without docker, it can take a fairly long time to build. This was the motivation behind https://github.com/interledger-rs/int

[2019-09-26 03:17] kincaidoneil commented on #326
The cookie flow Adrian described is much more common, but the `Sec-Websocket-Protocol` header approach seems simpler to implement (on both sides), since we wouldn't need to support sessions.

[2019-09-26 03:32] gakonst commented on #332
note: A node cannot know that it's a child currently

[2019-09-26 04:52] emschwartz commented on #332
It would just check if it has a parent

[2019-09-26 06:40] matdehaast commented on #333
@dora-gt I would recommend looking at removing the `.sh` script as the entry point and use something like [supervisord](http://supervisord.org/) for managing multiple processes within a single docker image.

[2019-09-26 07:08] dora-gt commented on #333
Thank you @matdehaast , you mean, we should keep them alive within the container?

[2019-09-26 19:23] emschwartz opened #337 "Add a mapping from asset code to settlement engine URL in the node"
Configuring the settlement engine URL on each account is annoying. We should add a global mapping from `asset_code` to settlement engine URL so that the SE URLs can be configured once and used by all the accounts.

[2019-09-26 19:25] emschwartz opened #338 "Add the settlement engines to the main docker image"
We should include the settlement engines in the docker image so you don't need to separately download and install them.

If we do this after https://github.com/interledger-rs/interledger-rs/issues/337, we can run the SEs on specific ports inside the image and configure the node to use the correct ports automatically. That would save developers an extra step or two when setting up their node.

[2019-09-26 19:43] adrianhopebailie commented on #326
Using that header is a hack. That header is intended for sub-protocol negotiation (which we should probably use since we're designing a sub-protocol) not for arbitrary data.

[2019-09-27 00:01] emschwartz opened #340 "Try boxing interledger services to speed up compilation"
Building the node is very slow, possibly due to all the generics involved in compiling the nested services.

We should try adding a `.boxed()` method to the `interledger_service::{IncomingService, OutgoingService}` like `warp` has for filters to see if it speeds up the compilation.

If that does speed up compilation, we should make it so the services are boxed in debug builds but not for release b

[2019-09-27 00:04] emschwartz opened #341 "Investigate whether using the CircleCI cache speeds up or slows down builds"
Restoring and saving the cache on CircleCI seems to take >2 minutes. We should check whether removing the cache altogether speeds up the builds.

[2019-09-27 01:45] emschwartz opened #343 "Move the interledger-settlement-engines to its own repo"
Should we:
- Put each settlement engine in a separate crate (to avoid having one binary and using conditional compilation to avoid pulling in dependencies when they aren't needed)
- Move the settlement engines to a separate repo under `interledger-rs` (but keep multiple engines in the same repo so they can easily share the core code)
- Move the settlement engines to a repo or organization where en

[2019-09-27 04:20] gakonst commented on #343
I'm in favor of 2.
-  Conditional compilation does not really add much complexity imo.
- I'd rather not have a repo with multiple languages, and a new organization doesn't seem to make sense to me
- I prefer having a directory where each engine is its own subdirectory, the way it is now, I find it extensible and nice.

[2019-09-27 09:17] sublimator commented on #326
Apologies if I'm not really understanding the reasons/implications for/of this. Sharing some experience from using BTP/STREAM.

If you go down the path of making a replacement for BTP, it might be worth considering being able to use one socket for multiple `Plugin`s (or whatever other interface for bidirectional RPC)

Currently the `createConnection(...)` export from `ilp-protocol-stream` which wi

[2019-09-27 11:22] kincaidoneil commented on #326
Yep! This will enable you to use a single socket for ILP packets and multiple settlement engines (successor to plugins) simultaneously, for each peer.

The rationale is this simplifies the framing, since we can just use ILP packets instead of BTP packets (ILP packets are used for framing settlement messages in ILP-over-HTTP, so this makes everything more consistent), and the auth is no longer weir

[2019-09-27 14:41] emschwartz opened #345 "API for setting routes should use usernames"
Rather than account IDs

(We should also update the HTTP API docs to reflect this)

[2019-09-27 15:11] sappenin commented on #310
hmm....my hesitation is that this ordering appears to be normative (or at least implied-normative) per `5.2.1.2 Output Data` of https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-38d.pdf. That plus the fact that major libraries across languages use this ordering gives me pause -- especially since we don't have a lot of software in the wild just yet.

I think we could introduce t

[2019-09-27 15:53] tarcieri commented on #310
I would agree the AES-GCM tag belongs at the end of the ciphertext message.

Generally this is the case for every standardized AEAD mode (the only exception I can think of is RFC 5297 AES-SIV, however RFC 8452 AES-GCM-SIV switched to the same convention of using a tag at the end), so I'd consider it "weird" to prepend the tag, not just for AES-GCM, but for AEADs in general.

[2019-09-27 16:52] emschwartz commented on #343
:+1: Let's put them in an `interledger-settlement-engines` (`-rs`?) repo under `interledger-rs`.

Instead of making them a single binary, let's put each in its own crate and make each one a separate binary.

[2019-09-27 22:05] dora-gt commented on #317
We really need this to give more precise error information.
If it means something of security matter, we could utilize server modes like `dev` or `production` or something.

- `dev` = much information
- `production` -> less information

[2019-09-28 07:20] sublimator commented on #326
@kincaidoneil
Thanks the info! How will this effort fit in with STREAM ? Will this be a transport layer that STREAM can use ?

[2019-09-28 13:41] emschwartz commented on #317
For this issues, I am mainly talking about returning better errors within the codebase. Each time we return an `Error = ()`, we should replace that with a more meaningful error. What we return via the API is slightly separate from that and I agree that we should be a little careful with how much detail we return to the caller

[2019-09-28 17:08] dora-gt commented on #317
I meant, for example:
https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-service/src/lib.rs#L117-L123
This is used from APIs, and I could not return something meaningful because () tells nothing. It ends up with just returning `Internal Server Error`s which is sometimes not so good for investigating what's happening.

[2019-09-29 16:56] emschwartz opened #353 "Ethereum settlement engine making a crazy number of blockchain calls"
We're currently using Infura for the ETH settlement engine and it's making a crazy number of requests without much activity.

![image](https://user-images.githubusercontent.com/3262610/65835777-491ce100-e2b8-11e9-808c-245b3a47f4c6.png)

Since it looks like this is only making calls to scan blocks for incoming transactions, we should see if we can switch to using the Websocket API instead: https://

[2019-09-29 18:51] emschwartz opened #354 "ETH settlement engine doesn't handle API errors nicely"
It should understand this as an error rather than trying to parse it as a successful response:
[code]

[2019-09-30 00:09] gakonst commented on #343
`interledger-rs-settlement-engines`? I do not have permissions to create a new repo btw

[2019-09-30 01:18] #337 closed

[2019-09-30 02:25] emschwartz opened #356 "Disconnect BTP connections if an account's password changes"
If an account has an open connection but the password is changed by the user or an admin, we should disconnect the BTP connections.

[2019-09-30 02:28] gakonst commented on #353
Since when is that? IIRC we had fixed the bug where too many requests were made. I can take a look at the WS API although I haven't tried using it with rust-web3 yet.

[2019-09-30 02:30] emschwartz opened #357 "Incoming and outgoing tokens should match"
Right now the `ilp_over_btp_outgoing_token` has to be in the form `username:password` while the `ilp_over_btp_incoming_token` has to be in the form `password`. We should change it so both values can be exactly the same because it's way too confusing otherwise.

We should also make sure the same applies to `ilp_over_http`

[2019-09-30 03:49] emschwartz commented on #353
Our 3 testnet nodes made 400k requests yesterday.

The original issue was that it would request every single block ever on startup. This is something different but I'm not totally sure what's causing it

[2019-09-30 03:53] emschwartz commented on #343
Created https://github.com/interledger-rs/settlement-engines

[2019-09-30 04:30] emschwartz opened #359 "Document usage of redis-cell for rate limiting"
The `amount_per_minute_limit` and `packets_per_minute_limit` are enforced by an external redis module called [`redis-cell`](https://github.com/brandur/redis-cell). If you don't load that module in, the rate limiting call will fail and the node will return an unhelpful `T00` error.

We should provide some recommended redis configuration in the main README or wherever we explain how to set up and ru

[2019-09-30 07:21] gakonst opened #360 "Should we accept routing table epochs same as ours?"
This was originally spotted in https://github.com/interledger-rs/interledger-rs/pull/355#discussion_r329393522.

Currently we reject routing tables which have the same epoch as ours, while investigating the flaky test, it was found that a valid routing table was rejected due to it having an epoch which did not pass the check (peer epoch = 1, our epoch = 1). What should we do?

[2019-09-30 07:27] gakonst opened #361 "How should we determine the node's main account ILP Address?"
Each node has a special account which is their "main" account. This has been added as a `NonRoutingAccount` so far. That account should/must have the same address as the `InterledgerNode#ilp_address` field.

When we have an account that's added without a `ilp_address` field in the account details, the address is calculated by appending the username to the [node's ilp address.](https://github.com/i

[2019-09-30 08:14] gakonst commented on #353
What did they set the CLI param `--poll_frequency` to?
It defaults to 5000ms, I've been running it for an hour so far and I haven't encountered any problem.

The only issue which MAY arise, is if they initially ran the engine on a network with a smaller block number than the one they're currently using, e.g. a ganache network with 10 blocks, then they shutdown the engine and point it to mainnet. D

[2019-09-30 13:09] emschwartz opened #363 "WebSocket reliability"
The BTP connection is not reliable right now. We should:
- [ ] Make sure pings and pongs are sent correctly in both directions
- [ ] Reconnect the WebSocket if it closes

[2019-09-30 13:51] emschwartz commented on #363
I'm also seeing the following error on the server that's causing the connection to be closed:
[code]

I'm not sure why the internal mpsc channel would be unable to buffer the request, so that seems really strange.

[2019-09-30 14:30] emschwartz opened #364 "Improve account creation API and errors"
- If you try to create an account with fields that conflict with another account (e.g. same username), you get a 500 error instead of a 400 error
- The `PUT /accounts/:username` cannot be used to insert accounts, only modify existing ones. This is somewhat annoying if you are working on inserting and modifying a given account because you first need to call `POST /accounts` and then `PUT /accounts/

[2019-09-30 15:36] sentientwaffle commented on #310
AuthTag-as-suffix is only more performant for decryption (with no difference for encryption). During encryption the ciphertext and tag are cloned regardless when the nonce is prepended. It is simpler to implement, which is great -- but I'm not sure that it warrants a breaking protocol change on its own. Any gradual change would be more complex than what we have now.

https://github.com/hyperledger

[2019-10-01 03:16] #353 closed

[2019-10-01 19:28] #332 closed

[2019-10-02 18:29] emschwartz opened #376 "Balance API should include asset details"
It's hard to know what you're looking at when you just get back the plain number. It might be nice to include the `asset_code` and `asset_scale` in the response

[2019-10-02 18:31] #264 closed

[2019-10-02 18:32] emschwartz commented on #338
Closed by https://github.com/interledger-rs/interledger-rs/pull/371

[2019-10-02 18:32] #338 closed

[2019-10-02 18:32] #263 closed

[2019-10-02 18:32] #265 closed

[2019-10-02 18:34] emschwartz commented on #193
This was partially done by https://github.com/interledger-rs/interledger-rs/pull/365.

The only thing that's missing is to allow `redis::Script#invoke_async` to be called on a generic `redis::aio::ConnectionLike` instead of `SharedConnection` so we can pass the wrapped `SharedConnection` to it.

[2019-10-02 18:36] emschwartz commented on #228
Closed by https://github.com/interledger-rs/interledger-rs/pull/334

[2019-10-02 18:36] #228 closed

[2019-10-02 18:36] emschwartz commented on #262
Resolved by https://github.com/interledger-rs/interledger-rs/pull/370

[2019-10-02 18:36] #262 closed

[2019-10-02 20:04] emschwartz opened #377 "Localtunnel alternatives"
We've had our fair share of issues with localtunnel and it doesn't seem to be actively maintained now.

@gakonst suggested http://serveo.net/ as an alternative. We should investigate whether we can get any of the alternatives to work from within a docker container. If so, let's switch what's included in the `testnet-bundle`

[2019-10-02 20:34] matdehaast commented on #377
Have used [ngrok](https://ngrok.com/) quite a bit. Has always worked pretty well. Like that I can also pay to have permanent urls etc.

[2019-10-02 21:11] #249 closed

[2019-10-02 21:13] #165 closed

[2019-10-02 21:13] emschwartz opened #378 "Interledger.rs website"
We should have one so we can point the domains interledger.rs and ilp.rs to it

[2019-10-02 21:17] emschwartz commented on #132
Can this be closed now?

[2019-10-03 01:04] kincaidoneil commented on #376
Better yet, also provide a human-readable string? e.g `0.00348 XRP`?

[2019-10-03 05:53] tarunreddy6 commented on #196
but how can we access an account.?

[2019-10-03 08:49] gakonst commented on #354
This error happens when Alice adds Bob before Bob has added Alice, since Alice's connector contacts Bob, but Bob's connector does not know where to route. As a result, he returns an `internal server error` (we should probably improve the error when an account is not found), and Alice's engine tries to process that. We could process Internal Server Errors at that part of the code and log a "account

[2019-10-03 08:50] gakonst commented on #132
Let's keep this open until we replace tower-web with warp in the Settlement and Settlement Engines crates, for some reason doing [`use tower_web::impl_web` does not work. ](https://github.com/interledger-rs/interledger-rs/blob/0835049bebcdd0a4aceda1a1eba378ddde03ff70/crates/interledger-settlement-engines/src/api.rs#L25)

[2019-10-03 11:13] austin-king opened #384 "Make credential retrieval programmatic"
https://xpring.io/ilp-testnet-creds allows you to retrieve credentials for ETH and XRP, however it would have been great for the Berkeley hackathon if these credentials could be returned as a JSON object in response to a simple HTTP GET request. I would have been able to auto populate default accounts for new users of my project if they didn't have pre-existing accounts that they wanted wanted to

[2019-10-03 15:15] emschwartz commented on #384
You can actually make the same call the website makes by GETting https://xpring.io/api/accounts/xrp (or https://xpring.io/api/accounts/eth). I wouldn't necessarily count on that API staying stable forever but that's what powers it now.

Also, did you see the [`ilp-cli testnet setup`](https://github.com/interledger-rs/interledger-rs/blob/a79a32c5186ccecd5ad3a1578d1c75bca10b7a0d/crates/ilp-cli/src/i

[2019-10-03 15:48] #384 closed

[2019-10-06 20:18] emschwartz commented on #376
Do you think it should return a single string like that or are you suggesting combining the `balance` and `asset_scale` to just return a decimal number?

[2019-10-06 20:20] emschwartz commented on #73
@gakonst can this issue be closed now?

[2019-10-06 21:47] #73 closed

[2019-10-07 04:58] kincaidoneil opened #386 "Remove stale/inactive branches"

[2019-10-07 13:58] bstrie opened #387 "Consolidate transitive dependencies in our crate graph"
Currently a full compile will pull in several different versions of the same dependency, which should be unnecessary. Subset of #140.

[2019-10-07 14:26] emschwartz commented on #386
I went through and closed some. @gakonst @bstrie can you look through your branches and remove any that aren't needed anymore?

[2019-10-07 14:36] emschwartz opened #388 "Add missing routes to HTTP API docs"
- Deleting accounts
- Updating settings
- Incoming notifications

[2019-10-07 15:53] bstrie opened #389 "Add copy/paste-able `curl` and `ilp-cli` examples to HTTP docs"
In the interest of lowering the barrier to entry as much as possible, rather than merely having the HTTP docs mention the parameters to each endpoint, I suggest having lines that the user can copy/paste into their terminal to show what an example of a well-formed command *should* look like (though obviously we'll need to make it clear that the command itself may not successfully execute unless the

[2019-10-07 16:21] bstrie opened #390 "Investigate hackathon error when sending payments to testnet"
Near the very end of the October 2 hackathon we suddenly had two teams independently approach us saying that they could not successfully call the `POST /accounts/:username/payments` endpoint. I suspect that the sudden onset of the problem was not to do with anything changing on the testnet itself, but rather that sending payments was the final step in each of these teams' projects and that this wa

[2019-10-07 16:31] bstrie opened #391 "Investigate whether some usage of generics may be unnecessary"
In the interest of reducing compilation times and reducing the number of crates that need to be touched when making changes, it's worth investigating whether any of our generic types aren't pulling their weight by being generic.

For example, the `AccountId` associated type on the `Account` trait is a candidate for removal, since we ourselves only ever specify it as `u64` and it's unclear what alt

[2019-10-07 19:48] emschwartz opened #393 "Should we try KeyDB as an alternative to Redis?"
See https://keydb.dev/ and https://docs.keydb.dev/blog/2019/10/07/blog-post/

[2019-10-07 20:06] emschwartz commented on #193
Waiting for https://github.com/mitsuhiko/redis-rs/pull/242 to be merged before this can be finished

[2019-10-08 06:00] gakonst commented on #330
Same for `interledger-settlement`

[2019-10-08 15:19] sappenin opened #395 "STREAM Receiver: Start sending ConnectionAssetDetailsFrame on first connection"
The [STREAM RFC](https://github.com/interledger/rfcs/blob/master/0029-stream/0029-stream.md#5314-connectionassetdetails-frame) defines an optionally-present frame called `ConnectionAssetDetails` that can be used to indicate the asset type/scale for the receiving account.

The StreamReceiver MUST return `ConnectionAssetDetails` frame whenever it encounters a `ConnectionNewAddress` frame, likely [so

[2019-10-08 15:34] sappenin opened #396 "Add AssetDetails data to SPSP Response"
It is desirable for SPSP senders using STREAM to be able to know the Asset Details as early as possible in the SPSP/STREAM process. #395 introduces this information into the STREAM payloads, but it would be even better if senders could know these details _before_ opening up a STREAM connection (e.g., a good sender will likely have continuous rate probing for various paths, and will be able to dete

[2019-10-08 15:36] sappenin opened #397 "Update Verbiage for Redacted AccountDetails"
When getting account details, certain information is redacted, such as the `ilp_over_http_incoming_token`. When I first encountered this, I mistakenly thought the Connector was ignoring my input for these fields and instead replacing it with the String `SECRET`.

I propose clarifying this to something a bit more obvious, such `********` or `******** (redacted)`. For example:

[code]

[2019-10-08 18:38] #343 closed

[2019-10-08 19:17] sappenin commented on #396
Upon further consideration, there are potential use-cases where having a consistent mechanism to get this information inside of an existing STREAM Connection, so we should just use `ConnectionAssetDetails` instead.

[2019-10-08 19:17] #396 closed

[2019-10-09 04:03] kincaidoneil commented on #376
Mmmmm, probably just combining the balance and asset_scale to a decimal number, and leaving the code as a separate field.

[2019-10-09 14:17] emschwartz opened #401 "Build and test on multiple operating systems"
Originally mentioned in https://github.com/interledger-rs/interledger-rs/pull/399#discussion_r332745373

[2019-10-09 16:38] KevinWMatthews opened #403 "Error building interledger-settlement-engines package"
I'm having difficulty building the `interledger-settlement-engines` package as directed by the main README. Does anyone else experience the same thing?

If I follow the instructions from the [run subsection](https://github.com/interledger-rs/interledger-rs#run-1) under "Building From Source", I get the error:

[code]

I wonder if this also affects the settlement engine dockerfile, [`eth-se.dockerf

[2019-10-09 18:52] emschwartz opened #404 "Fix the examples so they can be run from any directory"
You should be able to run `./scripts/run-md.sh examples/simple` from the root of the project as well as `../../scripts/run-md.sh README.md` from the directory of one of the examples.

Instead of using a symlink with a relative path, we should investigate using bash aliases to make the command look nicer than calling `cargo run -p ilp-cli ...` everywhere.

[2019-10-09 19:42] emschwartz commented on #403
Ah sorry! That was just moved to its own repo in https://github.com/interledger-rs/interledger-rs/pull/394 They're now in https://github.com/interledger-rs/settlement-engines

@gakonst could you update the documentation to reflect this change?

[2019-10-10 00:29] bstrie commented on #198
@dora-gt I've only just seen the Google Doc with your plan, I have a question regarding this line:

or… should we just test non-docker mode? is it sufficient?

Is there some reason that non-docker mode would be less desirable than docker mode for the purpose of CI? Especially since there appear to be complications regarding running docker from within docker.

[2019-10-10 00:37] emschwartz commented on #198
I think the main consideration is just making sure both experiences work. That said, having one of them tested is definitely an improvement over not having either tested

[2019-10-10 00:41] bstrie commented on #198
Ah I see, I was under the impression that we were only testing one mode, and docker mode was that mode. Indeed it would be good to test both, but as a minimal implementation even having one tested would be very useful in an immediate sense for catching most of the breakage to examples.

[2019-10-10 11:26] calvinaco opened #407 "Any plan to update `ring` dependency to latest version?"
The latest version of `ring` is [0.16.9](https://docs.rs/ring/0.16.9/ring/) but this repository and the `settlement-engines` repository is still using `0.14.6`.

This causes a problem when I try to implement a settlement engine by including my own project as a crate in `Cargo.toml`.

[code]

I understand this update is optional to this repository but I would like to know if there is any plan on do

[2019-10-10 14:34] KevinWMatthews commented on #403
Ah! Makes sense.
Should the [ethereum settlement engine Dockerfile](https://github.com/interledger-rs/interledger-rs/blob/master/docker/eth-se.dockerfile) move to that repo as well?

[2019-10-10 15:30] emschwartz commented on #407
For sure! The main issue is that there was a breaking change to the API so it's a bit of a pain to update. (PRs welcome if you want to expedite this! :wink:)

[2019-10-10 20:00] #404 closed

[2019-10-10 21:02] #387 closed

[2019-10-11 18:50] dora-gt commented on #198
(Sorry for this late response)

I think if we provide both normal mode (I mean running locally) and docker mode, basically both should be tested. If we dare to test only one mode (maybe it is normal mode), we should have enough reason to do that.

I can't help thinking of "what do users feel if something is not running?"
I would like to take responsibility for what we provide ... as far as possibl

[2019-10-11 18:52] emschwartz commented on #198
Agreed. However, if we can get one done faster than the other, we should do that in the meantime

[2019-10-12 07:01] gakonst commented on #403
Should be fixed in https://github.com/interledger-rs/interledger-rs/pull/414 and https://github.com/interledger-rs/settlement-engines/commit/f7f07916971488a1289d0c6b02749214a092f8a3

[2019-10-12 16:31] sappenin opened #415 "ILP-over-HTTP Endpoint returns incorrect error code when Unauthorized"
When an unauthorized ILP-over-HTTP call is made to the Connector, the Connector errantly responds with an HTTP error `500`. Instead, the Connector should respond with an HTTP `401` error code.

*UnAuthorized Request*
[code]

*Response*
[code]

[2019-10-14 00:30] #403 closed

[2019-10-14 02:20] dora-gt commented on #198
I think I need to wait for the decision of #399 (whether we move to GitHub actions or not). If we move to GitHub actions, these should be changed according to that.

[2019-10-14 07:46] dora-gt opened #416 "Account models should be explained in an understandable way."
There are a few account models but these are not explained anywhere, which makes ILP confusing IMO (explained only in RFC).

1. Non-routing account model
    - The account is not connected to any outer connectors.
    - The account holder could easily send/receive payments.
1. Delegated account model (`child`/`parent` or `peer`)
    - The account is connected to an outer connector.
    - On the ot

[2019-10-14 08:06] dora-gt commented on #388
Oops! I accidentally did this issue. I misunderstood like that this was assigned to me 😞 Anyway, @bstrie please use [this branch](https://github.com/interledger-rs/interledger-rs/tree/feature/dx/update-documents) freely.

[2019-10-14 09:32] dora-gt commented on #357
I thought about this and I'm wondering which is the best approach:

1. Outgoing requests use "our" account username as the outgoing token username.
1. Split the outgoing token into `outgoing_token` and `outgoing_username`.
1. The incoming token includes an incoming username.

My opinion is "2" maybe.

1 is not good because the usernames might differ on our node and their node. (Or... should it be

[2019-10-14 11:11] dora-gt commented on #327
(Sorry for this late response)

In my opinion, examples show some "practical usecases". It requires:

1. Spinning up stores
1. Spinning up nodes
1. Setting up accounts
1. Retrieve private keys (and its public keys)
1. spinning up settlement engines

so... yes, this is "complicated". It's inevitable that the explanations and its scripts get complicated because what we are doing is complicated.
That

[2019-10-14 11:15] dora-gt commented on #327
I'll keep thinking. I want to arrange my thoughts a bit more.

[2019-10-14 15:16] dora-gt commented on #327
I think running tests on examples or documents is quite important. Many people ask me "Why doesn't this work?" or "I get an error when I do this". When I check the documents, in most cases, the cause is the recent change in command line arguments or something.

This is not good for two reasons:
1. Developers have difficulties in trying interledger-rs and they might feel uncomfortable with its expe

[2019-10-14 16:29] KevinWMatthews commented on #415
Could this be stem from [here](https://github.com/interledger-rs/interledger-rs/blob/4653a7bed661784579be6aa3b5dccab53b37f78c/crates/interledger-http/src/server.rs#L72) and [here](https://github.com/interledger-rs/interledger-rs/blob/4653a7bed661784579be6aa3b5dccab53b37f78c/crates/interledger-http/src/server.rs#L62) in the interledger http server?

It looks like warp's [docs](https://docs.rs/warp/

[2019-10-14 17:15] emschwartz opened #417 "Should we separate the admin and user APIs more?"
Right now the HTTP API combines both admin and user-facing APIs. Should we separate them out (into separate paths, separate crates, or separate ports) or keep them together?

[2019-10-14 17:16] emschwartz commented on #415
This should be resolved by https://github.com/interledger-rs/interledger-rs/pull/324

Can you try the calls on that branch?

[2019-10-14 17:18] emschwartz opened #418 "Should we add a gRPC version of the HTTP API?"

[2019-10-14 17:29] emschwartz opened #419 "Include asset details in SPSP response"
The `delivered_amount` should say what asset code and scale that number represents.

We might also want to include the sent amount in the response.

[2019-10-14 17:35] keefertaylor commented on #418
I think the answer is 'yes', especially if we're investing in gRPC support in `rippled`.

Generally, I think that Ripple / Xpring should push the same suite of technologies across all of our APIs so there's a cohesive development experience (and internally, engineers can develop institutional knowledge more easily).

A one time investment here saves a bunch of time when you want to build out clien

[2019-10-14 20:56] bstrie commented on #132
This specific issue was fixed in #400, so I'll close this. Removing the tower_web dependency entirely can fall under #140.

[2019-10-14 20:56] #132 closed

[2019-10-15 02:51] dora-gt commented on #415
Maybe that would not be solved, I mistakingly applied my changes only to HTTP APIs. I should've applied to ILP over HTTP too. I'll fix this issue on the branch.

[2019-10-15 08:20] gakonst commented on #330
Pending review in https://github.com/interledger-rs/settlement-engines/pull/5 and https://github.com/interledger-rs/interledger-rs/pull/420, just have to figure out custom errors in Warp

[2019-10-15 08:34] gakonst commented on #193
@emschwartz https://github.com/mitsuhiko/redis-rs/releases/tag/0.13.0 release is in

[2019-10-16 00:14] #193 closed

[2019-10-16 02:33] gakonst commented on #357
I am in favor of 2 with a slight twist:

1. Make the `outgoing_token` always be just the `token`, wihtout any password.
2. Make the `outgoing_username` optional.
  - If it does not exist, it should use our `username`. This would require adding an extra parameter somewhere, probably on `InterledgerNode` config, which would be our Node's `username`.
  - If it exists, it should use that instead as th

[2019-10-16 02:42] dora-gt commented on #357
Thank you @gakonst, what do you mean by "wihtout any password"?

[2019-10-16 04:22] emschwartz commented on #357
Right now the whole thing we're doing with including the username in the token is pretty janky. I think we might want to fix that, along with making the configuration options clearer.

I think @gakonst meant username rather than password

If this were provided, I would expect it to use basic auth instead of bearer token auth

[2019-10-16 05:00] dora-gt commented on #357
@emschwartz Understood. One more question, do you mean, when the incoming service (HTTP/BTP) gets requests, it should be identified by ONLY the "token"?

I mean, the outgoing tokens should be used for "authentication" (identifying whose request it is) without usernames? Then, for example, `get_account_from_http_auth(username, password)` is going to be like `get_account_from_http_auth(access_token)

[2019-10-16 05:11] emschwartz commented on #357
No, that's what we had before but that was no good. Tokens shouldn't need to be globally unique.

Since we want to be able to identify which account a given request is for, the username definitely needs to be sent along with the request. The question is whether it should be included:
1. In the bearer token (`Authorization: Bearer username:token`)
2. As the username for basic auth (`Authorization:

[2019-10-16 08:11] dora-gt commented on #357
I see. Thank you for the description. I think we have one more option.

1. In the bearer token (Authorization: Bearer username:token)
1. As the username for basic auth (Authorization: Basic dXNlcm5hbWU6dG9rZW4K)
1. As a separate header
1. As a URL path segment
    - e.g. `https://xxx/accounts/:username/ilp`

I think getting the endpoint URL have `:username` also makes sense though this is a very b

[2019-10-16 08:41] dora-gt commented on #357
Or... could be BOTH for compatibility with the other implementations.

`IOH-Account-Username: xxxxx` (IOH=ILP over HTTP)

[2019-10-16 12:55] matdehaast commented on #209
@emschwartz is the idea that the stream receiver would have its own `sub-address` of the connectors address. ie if the connector has an address `test.connector`, the receiver would only check packets addressed to `test.connector.stream`?

The above is how we are handling it, but one thought was is there a concern that the address for incoming stream packets is known? At face value I don't think so

[2019-10-16 13:02] emschwartz commented on #357
Good point about the URL. `/ilp` and `ilp/btp` are the only endpoints that deal with user-related concerns but don't have the username in the path. That option is tempting because then the actual auth can stay as simple bearer tokens and the caller/sender would treat the URL as opaque (as they always should) but it would include enough information for the node being called to look up the account r

[2019-10-16 13:39] emschwartz commented on #209
Actually I meant that it should check whether the address at least starts with `test.connector` in your example (before it was just trying every packet that went through). Adding another segment could be a further optimization to avoid it trying a decrypt operation on other packets, but decrypting is really fast because of hardware optimizations so I'm not sure how important that is to implement n

[2019-10-16 13:44] dora-gt commented on #357
Do you mean, the other people (maybe attackers) could look up if the accounts exist or not?
Isn't it the same as the other APIs? We can respond always "Unauthorized" (not "Account not found"), and then they wouldn't know there is the account or not.

[2019-10-16 13:46] emschwartz commented on #357
No, sorry, I meant just that if I tell you the ILP-over-HTTP URL for you on my system, you should treat that string as opaque (rather than me telling you the base URL and you assuming that the ILP-over-HTTP URL is the base + some specific path like `/accounts/:your-username/ilp`). That way, I can include whatever information I want in the URL (username, account ID, or other things) and you'll just

[2019-10-16 14:01] dora-gt commented on #357
Yes, I can imagine. Is that a problem? It seemed natural for me.

Ah so you mean, the counterpart node should always generate and give them the URL?

Hmm, maybe cumbersome sometimes but eventually they would give us the account username at least. So maybe there isn't so much difference. We could return endpoint URL when we created the account, if we want.

In addition, I feel connecting 2 nodes is

[2019-10-16 14:04] emschwartz commented on #209
Yup, good point

[2019-10-16 14:04] #209 closed

[2019-10-16 14:07] dora-gt commented on #357
I mean like:
- We build a server that conducts the connection of 2 nodes.
- The operator of Node A, B authorize that the server can create accounts on both nodes.
- The operator of Node A starts the procedure, inputting some information on the server.
- The operator of Node B gets notified that the Node A wants to connect.
- The operator of Node B accepts the connection.
- The server creates the a

[2019-10-16 15:08] KevinWMatthews opened #423 "Default README instructions compile twice?"
What are the differences between running `ilp-node` and `ilp-cli` as a package versus a binary? The main README [directs the user to run](https://github.com/interledger-rs/interledger-rs#run-1) both as a package. When I run as a package, I see parts of the project recompile even though a full build is complete.

For example, running as a binary behaves as I expect:

[code]

while running as a pack

[2019-10-16 16:29] KevinWMatthews opened #425 "ilp-node panics with invalid config argument"
If the user passes an invalid config file to the `ilp-node` executable, the program panics:

[code]

The stack trace blames the `unwrap()` call in [this line](https://github.com/interledger-rs/interledger-rs/blob/1a5312ac12ed55b8910db7ba84e1b93ad6cb389a/crates/ilp-node/src/main.rs#L136).

Simply omitting `-p` or `--bin` causes the same error:

[code]

This seems to be due to the [default-run](http

[2019-10-16 20:14] nhartner opened #427 "Add tags to docker images instead of only having latest version on dockerhub"
Currently the docker images in interledgerrs are not tagged so it's only possible to pull the latest version (ex. https://hub.docker.com/r/interledgerrs/node/tags). Occasionally there have been backward breaking changes to the Rust APIs so it would be nice if the images were tagged so that I could pull a specific version until we are able to update our code to deal with changes in newer versions.

[2019-10-17 00:46] emschwartz commented on #139
After thinking about this more, I don't think it makes sense to use Prometheus for all of the stats mentioned in the initial issue.

- :+1: Number of packets processed
- :-1:  Amount of money sent
  - This would need to be tracked separately for each currency and/or normalized across currencies
  - The amounts would need to be scaled (using a bignum library) because every account could have a diff

[2019-10-17 07:15] calvinlauco opened #430 "Congestion Control may panic when in flight amount is larger than max"
During congestion control, the maximum in-flight amount will be decreased on rejection and at one point the `max_in_flight` may fall below `amount_in_flight`, which will cause the `get_max_amount` method below to panic with: `attempt to subtract with overflow`

crates/interledger-stream/src/congestion.rs
[code]

[2019-10-17 13:19] gakonst commented on #357
We're discussing 2 issues.

1. Where should we move the `username` that's part of the `outgoing_token` in the sending node, so that the incoming/outgoing token format matches
2. Where should the username go when a sending node sends a message to a receiving node.

For 1., what is the issue with the idea I proposed? I think it solves the format issue: https://github.com/interledger-rs/interledger-r

[2019-10-17 18:21] bstrie opened #433 "Eliminate multiple versions of the same crate within our transitive dependencies"
Low-priority successor to #387 which should wait for #140 to be addressed first. Currently our full crate graph contains several different copies of the same dependency, due to some of our dependencies requiring incompatible versions. We can see these by running `git grep "name =" Cargo.lock | uniq -c | grep -v "1 Cargo.lock" | sort -r`, which as of today gives me:
[code]
This could be partially a

[2019-10-17 20:55] emschwartz commented on #430
Resolved by https://github.com/interledger-rs/interledger-rs/pull/431

[2019-10-17 20:55] #430 closed

[2019-10-17 22:48] emschwartz opened #434 "Use tower-service"
We should consider getting rid of the `interledger-service::{IncomingService,OutgoingService}` traits and switching everything to [`tower-service`](https://github.com/tower-rs/tower/tree/master/tower-service).

When I started working on Interledger.rs, [`tower`](https://github.com/tower-rs/tower):
- still seemed like a work in progress
- didn't have any middleware I needed
- would have added more

[2019-10-18 00:16] #386 closed

[2019-10-18 08:15] gakonst opened #435 "Settlement Utils Crate"
The following utils are used by the `settlement-engines` crate and the `interledger-settlement` crate:
- `Quantity`
- `scale_with_precision_loss`
- `IdempotentStore` (which currently is copied as `IdempotentEngineStore`
- `LeftoversStore`
- `Convert`
- `ConvertDetails`

The engines crate currently imports `interledger-settlement` to have access to most, or has a copy such as in the case of `Idempo

[2019-10-18 11:44] gakonst commented on #434
I agree that we should tackle this as soon as we move to futures 0.3 and while generally transitioning to async/await.

[2019-10-18 12:01] gakonst commented on #354
Started this. It only happens with the XRP engine, investigating why

[2019-10-18 16:58] bstrie commented on #435
Would this subsume the `service-util` crate or would that still be separate?

[2019-10-18 22:19] emschwartz commented on #435
Generally I'm not a fan of the idea of having an `interledger-utils` crate because it's likely to become a dumping ground for all kinds of miscellaneous functionality. The `interledger-service-utils` crate is _slightly_ more specific but I'd also like to get rid of it for the same reason.

How much code / how many of the dependencies in `interledger-settlement` are _not_ part of the shared utils?

[2019-10-18 22:20] #139 closed

[2019-10-19 18:07] gakonst commented on #435
OK re:errors and `interledger-http`.

The features I want non-duplicated are the ones shared by `interledger-settlement` and `settlement-engines`. I thought of also moving settlement to the engines crate, and it is definitely an option.

My only argument against it would be the idempotency utils could be useful in other idempotent API crates which we may(?) introduce in the future.

I've [moved](h

[2019-10-21 00:44] bstrie commented on #435
Generally agreed that "utility" crates should be avoided when possible.

[2019-10-21 04:11] dora-gt opened #437 "ILP address of `Child` node is not working properly."
If we set the `ilp_address` parameter when spinning up a `Child` node, it causes a weird behavior on the node. For example, if we set `ILP_ADDRESS=example.bob.charlie` for Charlie's node in ETH + XRP three nodes example, `Charlie` receives amount `0` for a payment of `500`.

This seems undesired behavior, so this should be fixed.

Ref:
- https://forum.interledger.org/t/receiver-is-sending-xrp-back

[2019-10-21 06:12] dora-gt commented on #335
Maybe I think we should use CLI arguments **basically** (other than secret ones) because I suppose people would use ENV vars to override settings.

So I'll change this to use CLI arguments consistently.

[2019-10-21 08:55] dora-gt opened #439 "The settlement of `eth-xrp-three-nodes` example **sometimes** fails"
The settlement of `eth-xrp-three-nodes` example **sometimes** fails. The logs are attached.

Potential causes are (though I'm not so sure):

`interledger-rs-node_b.log`
[code]

`interledger-rs-node_b.log`
[code]

- Failure case
    - [eth-xrp-three-nodes.zip](https://github.com/interledger-rs/interledger-rs/files/3749820/eth-xrp-three-nodes.zip)
- Success case
    - [eth-xrp-three-nodes.zip](https

[2019-10-21 11:56] dora-gt commented on #230
I understand the version policy. Here, we should consider:

1. The versioning policy
    - Bump up the ONLY `ilp-node` crate; the other crates are not affected.
1. The release policy
    - Should we follow the Rust's release policy?
        - `Nightly` builds
        - `Beta` releases
        - `Stable` releases
1. The artifacts
    - Binaries
        - Should we provide binaries? for what platfor

[2019-10-21 15:36] emschwartz commented on #435
Isn't it already in its own crate? Do you mean its own repo?

I'm not too worried about this right now. We don't have any current plans to add other idempotent APIs, though I agree we could do that in the future. However it wouldn't be that much work to extract it and put it somewhere else at that point so I'd go for what makes sense at the moment.

[2019-10-21 17:50] dora-gt opened #440 "Shouldn't we track our achievements?"
I think it might be better to track our **achievements**, in other words, our KPI.

For example (I've not dug into How, just listing What here),
- Customer (Developer) Satisfaction of Developer Experience
    - because we prioritize the developer experience.
- Performance
    - because `interledger-rs` is aimed to be the fastest implementation of ILP
- etc.

In addition, personally I want to feel

[2019-10-21 18:40] bstrie opened #441 "Convert rates and routes from polling to pub/sub"
Because rates and routes are so frequently accessed, they are cached in memory and a background task will periodically poll the store to check for updates. Now that we have a pub/sub infrastructure set up, we should convert these to pub/sub (which roundaboutly should also make https://github.com/interledger-rs/interledger-rs/issues/320 easier to implement).

[2019-10-21 18:54] emschwartz commented on #340
@bstrie you concluded that this didn't make a difference, right? Can this be closed now?

[2019-10-21 19:04] bstrie opened #442 "Append-only log of all processed packets"
Prerequisite to #159, if we want to allow people to run an ILP node in a way that says "I trust all my peers enough that I don't need to worry about enforcing minimum balances" (which has the advantage of significantly decreasing overhead), we'd still want some way for them to calculate their balances on-demand, which would involve reading a log of all processed packets. We need to actually log th

[2019-10-21 21:09] bstrie commented on #439
The first error is an error from within a Lua script, likely at the following line: https://github.com/interledger-rs/interledger-rs/blob/0bd9ce3e9f4332016bd93e96a855b23d04aafdd8/crates/interledger-store-redis/src/store.rs#L101 . The `..` is the concatenation operator in Lua, which works with both strings and numbers but not booleans. So the question is why `id` ends up being a boolean in some cas

[2019-10-21 21:19] bstrie opened #443 "Convert examples to use ilp-cli rather than curl when in docker mode"
The examples are currently using ilp-cli when in non-docker mode, but are still using curl in docker mode. I can make this change since I'm the one who translated the non-docker mode to ilp-cli in the first place, but I'll wait for PR #305 to land first so as to avoid stepping on anyone's toes.

[2019-10-21 21:23] bstrie commented on #388
@dora-gt Don't worry, I got sidetracked last week anyway and your version is better than mine. :) If you want to take this you can feel free to do this yourself.

[2019-10-21 21:25] bstrie commented on #174
This is far less of a priority these days now that the settlement-engines live in their own repo, since those were the tests that took the most time (settling things on blockchains and etc.). Still might be worth doing for tests that hit the network.

[2019-10-21 21:27] bstrie commented on #340
Indeed, the approaches I tried didn't seem to make significant difference. I'd like to revisit this after we switch to async/await if ilp-node is still a compilation bottleneck by then, and in the meantime we can explore other options (e.g. #391).

[2019-10-21 21:29] emschwartz commented on #340
Ok I'll take this out of the current project then

[2019-10-22 02:50] dora-gt commented on #443
IMO, we should be careful about using `ilp-cli` for docker mode because it looks a bit slow. Maybe takes 1sec or so. It might be because of `--rm` option but I think we need the option because without the option, garbage containers remain forever.

[2019-10-22 05:33] dora-gt commented on #230
My thoughts.

1. Should we follow the Rust's release policy (and its branching model)?

Maybe YES, we could also adopt some other strategies like [A successful Git branching model](https://nvie.com/posts/a-successful-git-branching-model/) but it seems that both work (IMO) and we live in the Rust world, it seems natural to adopt Rust's releasing model if there isn't any problem.

JFYI: the main dif

[2019-10-22 06:34] dora-gt commented on #388
OK, I'll take this.

[2019-10-22 08:34] dora-gt commented on #239
Things I noticed around the settlement RFC and the implementation are:

- `settlement-engines` does not implement `delete` for accounts, which is defined in the [RFC](https://github.com/interledger/rfcs/blob/master/0038-settlement-engines/0038-settlement-engines.md).
- `send_money`, `receive_message`, `do_receive_settlement` and `do_send_outgoing_message` should return `201` according to the RFC,

[2019-10-22 08:38] dora-gt opened #445 "`settlement-engines` does not implement `delete`"
`settlement-engines` does not implement `delete` though it is defined in [the settlement RFC](https://github.com/interledger/rfcs/blob/master/0038-settlement-engines/0038-settlement-engines.md).

[2019-10-22 08:57] dora-gt opened #446 "Some of settlement APIs seem to return incorrect HTTP status codes."
In the RFC, it defines that basically `POST` endpoints should return `201` HTTP status codes but `send_money`, `receive_message`, `do_receive_settlement` and `do_send_outgoing_message` seem to return `200`.

Sorry if I'm missing something.

[2019-10-22 09:05] dora-gt opened #447 "Explain typical usage of `messages` would be helpful."
In the [settlement RFC](https://github.com/interledger/rfcs/blob/master/0038-settlement-engines/0038-settlement-engines.md#handle-incoming-message), messages are defined but it is not explained well.
Explaining typical usage or implementation would be helpful.

[2019-10-22 09:06] dora-gt commented on #239
API docs will be updated by #444

[2019-10-22 09:31] dora-gt commented on #357
I moved this issue into Backlog because some people seem to be [trying to change BTP auth spec](https://interledger.slack.com/archives/CHQ9BCQ0Y/p1571237510024800). It seemed better to do this issue later.

That said, I thought we could change Part 1 (of the latest gakonst's comment) at this point but if we treat the outgoing token WITH the outgoing username as BASIC auth (as Evan said), it seems

[2019-10-22 13:49] emschwartz commented on #230
:+1: to the idea of providing binaries for linux + mac using github assets and potentially other package managers. We should also tag docker images (https://github.com/interledger-rs/interledger-rs/issues/427) at the same time

I would recommend splitting this up into a number of PRs.

Also, if we publish binaries, could/should we get rid of the docker-based instructions for the examples? You've n

[2019-10-22 13:55] emschwartz commented on #439
Lua scripts definitely execute atomically in Redis (see https://redis.io/commands/eval#atomicity-of-scripts).

I've been confused about this for a while because I would think that the `HEXISTS` call would be enough to check if the username is there. I don't think the problem is that it goes away, it seems more likely that it isn't there in the first place but for some reason that existence check r

[2019-10-22 13:56] emschwartz commented on #239
This should go in the docs for implementing a settlement engine, rather than the API docs

[2019-10-22 14:53] bstrie commented on #443
@dora-gt Actually the reason why the ilp-cli looks slow is because of https://github.com/interledger-rs/interledger-rs/pull/405 , which moved from invoking the ilp-cli binary directly to running it through `cargo run`. Cargo will check to make sure the code doesn't need to be recompiled before each and every command, which adds about a second of overhead to each invocation. Conceivably docker mode

[2019-10-22 14:54] gakonst commented on #435
Yeah I meant in its own repo. We could move `interledger-settlement` to the https://github.com/interledger-rs/settlement-engines repo as you pointed out in [the PR](https://github.com/interledger-rs/settlement-engines/pull/5#discussion_r336696856)

[2019-10-22 17:17] bstrie commented on #439
@dora-gt Let me know if you can reproduce the issue here now that https://github.com/interledger-rs/interledger-rs/pull/448 is merged.

[2019-10-22 17:18] bstrie commented on #439
(Note that #448 would only address the first error message, so let me know if you see that one specifically.)

[2019-10-22 18:15] bstrie opened #449 "Document our minimum Rust version"
Currently it's unclear what minimum version of Rust is required to build Interledger.rs. Today the answer is probably "whatever the most recent stable release is", but we could conceivably do better at not requiring dependent users to always promptly update their Rust versions. This would require us to be careful when writing code that we don't use features that only exist on Rust versions that ar

[2019-10-22 19:48] bstrie opened #450 "Experiment with linking via LLD on Linux"
By default, rustc links code using the system's default linker. Given that linking seems to be a significant cause of compilation time for us, it may improve compilation times if we use a different linker. LLVM has been gradually writing its own linker named LLD for some time now, and it may be at a usable level of maturity for some targets. Specifically I'm curious to see if using LLD on Linux re

[2019-10-22 21:45] gakonst commented on #435
Should've been clearer:
I meant "What do you think about making interledger-settlement a subcrate to the settlement-engines repository"?

[2019-10-23 01:53] gakonst commented on #446
Now that the RFC is merged in master I'll be doing a pass through  this week to resolve any inconsistencies.

[2019-10-23 03:21] dora-gt opened #452 "`GET /` returns an incorrect version number"
Originally pointed out at:
https://github.com/interledger-rs/interledger-rs/pull/444#discussion_r337678746

Now it returns the version like `0.1.1beta.3` but according to [Semantic Versioning](https://semver.org/#spec-item-9) it should be `0.1.1-beta.3`.

`docs/api.md` should be fixed as well.

[2019-10-23 03:21] emschwartz commented on #239
@dora-gt can this be closed now?

[2019-10-23 03:30] dora-gt commented on #239
Yes, API doc is up-to-date now and other issues are reported.

[2019-10-23 03:32] #239 closed

[2019-10-23 04:03] dora-gt opened #454 "Document Prometheus"
It would be better to document `Prometheus`.

https://github.com/interledger-rs/interledger-rs/pull/444#issuecomment-545124494

[2019-10-23 05:11] dora-gt commented on #443
I'm sorry that my comment was not clear. I don't mean that `ilp-clip` is slow. I mean using the docker image of `interledgerrs/ilp-cli` is slow, which requires creating a new container and finally cleaning up the container.

[2019-10-23 15:47] dora-gt commented on #230
If the main reason for using Docker images is that they are faster because they don't need to be compiled, I think we don't need to provide the docker mode for examples, once binaries are provided. The markdowns and the CI process will be simplified.

I would like to prioritize the tasks.

1. Tag docker images with versions (tags)
    - Assuming every version is tagged, using the tag would suffice

[2019-10-23 16:55] emschwartz commented on #230
Sounds good. I think it's working on 1-4 now and leaving 5-6 until some time later.

I've been running `cargo release` manually on my computer to publish the packages until now. I don't think it's perfect but it is better than running the process ourselves. The main issue I have with it is that it publishes a new version for the crates even if nothing has changed since the last one.

[2019-10-23 21:40] emschwartz commented on #419
@gakonst Just to be clear, this is the response to _sending_ a payment, not the SPSP query response

[2019-10-24 00:22] emschwartz opened #458 "Distributed tracing"
Related to https://github.com/interledger-rs/interledger-rs/issues/119, it might be nice to support a distributed tracing framework like https://opentracing.io/. If we start running multiple nodes that are connected together, this would make it easier to follow requests across them to figure out what happened.

We would need to pass things like tracing IDs in the HTTP headers (and possibly BTP sub

[2019-10-24 01:50] dora-gt commented on #230
OK.

I was assuming that we would use `cargo release` manually to bump versions and push its git tags. Do you mean we should not use `cargo release` at all?

My image was like:
- Bump versions + git tags with `cargo release`
- Push the git tags and CI is kicked.
- Publish crates on CI process using `cargo publish`
    - Only if something is changed? (maybe need to do something)

[2019-10-24 15:44] bstrie opened #460 "Implement nonce sequence and advancement"
As brought up in a comment on the PR upgrading our version of ring: https://github.com/interledger-rs/interledger-rs/pull/413/files#r334223325

[2019-10-24 16:21] bstrie opened #461 "Consider grouping exchange-rate-related configuration parameters"
The node currently groups together the configuration parameters for Prometheus into a separate `PrometheusConfig` struct. Currently the only other parameters which are "related" in a similar way are those related to exchange rates. Should those also be grouped together into their own configuration struct?

[2019-10-24 16:23] emschwartz commented on #230
I mostly agree with that. Let's get it set up so that Circle will run `cargo publish` if the version of a given crate is not the same as the one available on crates.io. Then, we can either use `cargo release` to bump the versions or we can switch to doing it manually.

[2019-10-24 16:56] bstrie commented on #443
Interesting, does this imply that it has to set up and tear down an `ilp-cli` container for each and every `ilp-cli` invocation? What can we do to make it behave more like `curl` currently does, where no such set up and tear down is necessary?

[2019-10-24 17:22] dora-gt commented on #443
If my recognition is correct, that's right. I've tried some and looked into a little bit, I could not make it. I think making it fast like `curl` is very difficult as long as we use Docker.

That said, I'm saying only from my experience and a quick reseatch, I would really appreciate your taking a look if reusing containers is possible or not.

[2019-10-24 17:27] dora-gt commented on #230
No problem. Let's do step by step and check if it works well.

[2019-10-24 18:36] bstrie commented on #443
I suppose I don't understand why Docker would treat `curl` any differently than `ilp-cli`. From Docker's point of view they're both just external binaries. Does every Docker container ever built come with `curl` built in? (That wouldn't make any sense to me.)

I have no experience with Docker, can you help explain something for me? In the line here: https://github.com/interledger-rs/interledger-rs

[2019-10-24 23:09] emschwartz opened #463 "Would adding a debug_boxed method on the Interledger service traits speed up compile time?"
We should see if adding a `debug_boxed` method along the lines of what I proposed in https://github.com/seanmonstar/warp/pull/273 would speed up the compile time of the node. The `warp` maintainer's main concern was that it's strange to have a methods return type depend on what type of build it is. In our case, we know that the services are only used in a generic way, so adding this isn't a proble

[2019-10-25 01:39] #452 closed

[2019-10-25 02:17] dora-gt opened #464 "`two_nodes_btp` is unstable"
It seems that `two_nodes_btp` test is unstable.

When it failed, I just reran.
https://circleci.com/gh/interledger-rs/interledger-rs/2641
Then it succeeded.
https://circleci.com/gh/interledger-rs/interledger-rs/2642

It might be worth changing `expect("xxxx")' to investigate a bit more.

[2019-10-25 16:31] dora-gt commented on #464
memo
[code]

[2019-10-25 18:52] emschwartz commented on #119
Resolved by https://github.com/interledger-rs/interledger-rs/pull/457

We'll open more specific issues to track adding tracing to other crates and adding other specific details to the spans.

[2019-10-25 18:52] #119 closed

[2019-10-25 18:54] emschwartz commented on #460
@tarcieri Do you know if it would make sense for us to use the `OpeningKey` / `SealingKey` if we're using random nonces each time?

[2019-10-25 18:58] emschwartz opened #467 "STREAM: Retry R00 Errors"
In [this test](https://circleci.com/gh/interledger-rs/interledger-rs/2641) run, the STREAM client stopped because of an R00 error:

[code]

I'm not sure why it timed out, but in any case the STREAM sender should retry on `RXX` errors.

[2019-10-25 18:58] emschwartz commented on #464
I'm not sure why the packet said it timed out but STREAM should retry on R00 errors https://github.com/interledger-rs/interledger-rs/issues/467

[2019-10-25 19:02] dora-gt commented on #230
Progress: https://github.com/interledger-rs/interledger-rs/pull/466

[2019-10-25 20:46] #304 closed

[2019-10-25 23:47] dora-gt commented on #464
Err: () ... 😭
https://circleci.com/gh/interledger-rs/interledger-rs/2720

[code]

[2019-10-26 01:34] emschwartz commented on #464
@dora-gt that's that same R00 error:
[code]

[2019-10-26 06:50] dora-gt commented on #464
Ahhhh I see.

[2019-10-27 05:08] #345 closed

[2019-10-28 14:47] emschwartz opened #472 "Document node configuration parameters"

[2019-10-28 16:22] kincaidoneil commented on #120
Reopening this since it's confusing that the maximum balance in the settlement RFC and `ilp-connector` is the minimum balance in the Rust and Java connectors, since they each define positive/negative balances differently.

Evan agrees that renaming minimum to "credit limit" is clearer, but some open questions are:
- Can we implement this in a backwards compatible way? (e.g. "minimum" may still be

[2019-10-28 17:34] treisto commented on #327
The examples are like a receipt to follow. They are good to some extent, help starting-up.
At some point one needs to really understand how things work, what each setting means and does, what links where. In a different situation, it will be hard to debug or come up with a solution.

[2019-10-28 19:28] bstrie opened #474 "SQLite store backend"
Breaking down this task into more manageable goals:

- [ ] configuration option for selecting redis or sqlite (possibly via parsing the scheme of the given store URL?)
- [ ] crate features for enabling/disabling redis and sqlite backends (both enabled by default?)
- [ ] abstract redis-specific logic out of ilp-node
- [ ] dynamically determine whether to instantiate a prior existing node or a new n

[2019-10-28 19:39] emschwartz commented on #474
I wouldn't work on much abstraction here. Instead, I would replace [these lines](https://github.com/interledger-rs/interledger-rs/blob/a418426634739a433ad08ccea490477f3b9f8e49/crates/ilp-node/src/node.rs#L262-L264) with a method on the node called `connect_to_store` or something like that. That method would parse the `database_url` parameter to see whether it's a `redis`, `redis+unix`, or `sqlite`

[2019-10-28 20:47] bstrie opened #475 "Extract the crypto module from the redis store for use in all stores"
Currently the interledger-store-redis crate contains a crypto module, but none of its operations are specific to redis. Find a place for this module to live (an interledger-store-common?) so that other store backends can use it.

[2019-10-29 17:37] #419 closed

[2019-10-29 17:59] emschwartz opened #477 "What should we do with the `interledger_store_redis::Account` type?"
Similar to https://github.com/interledger-rs/interledger-rs/issues/475, the `Account` type isn't specific to `Redis` and we will want to use it for each store implementation.

We should also consider merging the `Account` and the `interledger_api::AccountDetails` structs to avoid the current duplication.

I didn't put this type in the `interledger-service` crate initially because I thought that di

[2019-10-29 19:30] bstrie opened #479 "Explore measureme for diagnosing compilation times"
See https://github.com/rust-lang/measureme and the excellent example of its use at https://wiki.alopex.li/WhereRustcSpendsItsTime .

[2019-10-29 21:58] #435 closed

[2019-10-29 22:03] #330 closed

[2019-10-30 01:24] emschwartz opened #482 "Use constant time comparisons for checking password"
We should use the constant time comparison operations from [`subtle`](https://crates.io/crates/subtle) when checking user auth

[2019-10-30 14:48] treisto opened #484 "Crash waiting for settlement"
Amount to send 1200
settlement threshold 500
min balance -1000
we still have 200 to send while waiting for the previous 2x500 settlements to be validated on the ledger
the sender tries to send them while the receiver still rejects because its max malance is still -1000
at some point the sender crashes

[DEBUG interledger_stream::congestion] Prepare packet of 10, amount in flight is now: 200
[TRACE

[2019-10-30 19:54] bstrie commented on #474
@KevinWMatthews I haven't pushed any of my WIP commits yet, but I'll try to get something up today that people can look at.

[2019-10-31 03:43] emschwartz opened #485 "Config doesn't parse snake case ExchangeRateProvider"
The `ExchangeRateProvider` should be able to parse both values like `CoinCap` and `coin_cap` (see the serde aliases defined [here](https://github.com/interledger-rs/interledger-rs/blob/e79a12cdbc174e8e2c09efc39552cc68fb47da7b/crates/interledger-service-util/src/exchange_rates_service.rs#L209-L213)). I thought this would work because as far as I can tell the `config-rs` library uses serde to parse

[2019-10-31 03:51] emschwartz commented on #484
I think this was fixed by https://github.com/interledger-rs/interledger-rs/pull/431 and this fix was included in the latest release. If you're using the docker image, try pulling it again (I just realized that docker doesn't update the `:latest` tag unless you explicitly tag an image with that and push it so the `testnet-bundle` image is now updated).

[2019-10-31 05:49] emschwartz commented on #464
@dora-gt can this be closed now?

[2019-10-31 05:58] dora-gt commented on #464
Yes, I'm closing.

I'm wondering whether the `three_nodes` test is failing because of the same reason. Let's see if it is solved as well. I'll open another issue if that still happens.

[2019-11-01 02:21] dora-gt opened #490 "`three_nodes` test is unstable."
`three_nodes` test **sometimes** fails.

- Failure case
    - https://circleci.com/gh/interledger-rs/interledger-rs/2984
    - https://circleci.com/gh/interledger-rs/interledger-rs/2991

<details><summary>#2984</summary>

[code]
</details>

<details><summary>#2991</summary>

[code]

<details>

[2019-11-01 03:48] dora-gt commented on #490
It seems that this is not related to:
https://github.com/interledger-rs/interledger-rs/blob/master/crates/ilp-node/tests/three_nodes.rs#L193
because it still works even if I set `1` instead of `1000`.

[2019-11-05 11:52] latenssi opened #498 "HTTP API's Content-Type header validation is too strict"
Atleast _axios_ (an npm module for http requests) uses `Content-Type:  application/json;charset=utf-8` by default and this is rejected by current implementation of `deserialize_json` in [interledger-http](https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-http/src/lib.rs#L47) because of the extra `;charset=utf-8`.

We are using a nodejs service to update rates in our i

[2019-11-05 12:17] latenssi opened #499 "Wrong error code (F08) used when request.prepare.amount is too small"
In [exchange_rates_service](https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-service-util/src/exchange_rates_service.rs) if the `request.prepare.amount` is so small that the conversion to `outgoing_amount` results in a float between 0 and 1 the `exchange_rates_service` will return **Error F08 "Amount Too Large"** as specified on [this line](https://github.com/interle

[2019-11-05 16:32] sappenin opened #500 "Update client.rs to use Outgoing Bearer token instead of AuthToken for outgoing IlpOverHttp requests."
This relates to #357, but currently, if an IlpOverHttp account is configured with an `outgoing` bearer token, the Rust implementation is inferring token-format unnecessarily.

Per IlpOverHttp Auth Recs [here](https://github.com/interledger/rfcs/pull/559/files#diff-4b23f32e485ebb46ea9cf36892850ffbR44), the `token-user` (which is the Rust Connector when it's making outgoing IlpOverHttp requests to a

[2019-11-05 16:36] sappenin commented on #357
FWIW, I created #500 to add some context to the discussion here. I would advocate that the Rust implementation treat outgoing tokens as opaque in order to enable the token-creator (the "peer" in IlpOverHttp use-case, for example) complete control over the token format, meaning, etc.

This will reduce coordination between different implementations, and IMO make the Rust Account API clearer.

[2019-11-05 18:07] gakonst opened #501 "`cryptocompare` test is unstable"
this just happened in https://circleci.com/gh/interledger-rs/interledger-rs/3163, unclear why

[code]

[2019-11-05 20:54] kincaidoneil commented on #499
I think this case should return `R01`, Insufficient Source Amount.

Per the [ILPv4 spec](https://interledger.org/rfcs/0027-interledger-protocol-4/):

[2019-11-06 00:46] bstrie commented on #474
@KevinWMatthews I've got the initial groundwork laid in https://github.com/interledger-rs/interledger-rs/issues/474.

[2019-11-06 09:52] latenssi commented on #499
@kincaidoneil I agree, that is a better error code

[2019-11-06 15:50] emschwartz commented on #357
It does treat the outgoing token as opaque now -- with the exception that in the account settings API, the caller can change both tokens (which would cause a problem if the callee expects the token to have a specific format)

[2019-11-07 03:41] dora-gt commented on #501
This should be fixed by #503

[2019-11-07 20:16] emschwartz opened #505 "Should we use rustls to avoid requiring OpenSSL?"
cc @tarcieri @bstrie

[2019-11-09 00:57] sappenin commented on #357
No, it parses the outgoing token and blows up if there's characters it doesn't expect. See #500

[2019-11-09 01:11] sappenin opened #508 "IlpOverHttp IncomingTokens with a colon fail Auth"
If I create an account on the Rust connector and set the value of `ilp_over_http_incoming_token` to a String that contains a colon (`:`), then the account can't be used because auth will fail during parsing. For example:

[code]

The Connector should either disallow colons in the incoming token, or more preferably, mandate that the token be a base64-encoded String so that it can simply be treated

[2019-11-09 17:25] #159 closed

[2019-11-09 19:00] gakonst commented on #240
Ping on this, floated the thought of removing the E2E examples and just distribute the book. This will remove all the code duplication we have in the examples, and give a complete narrative around how ILP.rs is structured. A section would be dedicated on setting up, and the other sections would be playing out each scenario.

[2019-11-10 11:33] emschwartz commented on #446
@gakonst Can this be closed now?

[2019-11-11 06:11] dora-gt commented on #472
I'm doing this for now but I think also we should consider a more structured explanation like #240

[2019-11-11 11:26] emschwartz commented on #443
I think this can be closed once https://github.com/interledger-rs/interledger-rs/pull/506 is merged

[2019-11-11 16:53] aanchal4 opened #513 "The congestion controller's minimum value is 1, but if the sender sends a prepare packet with a value of 1, it MAY get a T04 error."
If the sender sends a prepare packet with a value of 1, there's a good chance that it will be rounded down (when the path exchange rates are applied) to 0. So the sender will be sending lots of packets but effectively not delivering anything. The following code for error T04.
https://github.com/interledger-rs/interledger-rs/blob/bd7ab9a9e86a158c61e4b9494d03bfbbbb700d55/crates/interledger-stream/sr

[2019-11-12 03:04] dora-gt commented on #464
I'm reopening this, I'm not sure what is the cause but it is failing again.

https://circleci.com/gh/interledger-rs/interledger-rs/3562?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-11-12 10:33] adrianhopebailie commented on #326
Based on the work done so far I've taken a stab at a new protocol definition:
https://github.com/adrianhopebailie/ilp-protocol-pxp

It's super-simple and designed to work via either WebSockets or QUIC.

I need to do some experiments to ensure all assumptions hold but I don't think there is anything in there likely to be an issue.

Next step is some basic client/server implementations and then migr

[2019-11-13 19:20] dora-gt commented on #464
### The Cause

The reason was that `RedisStore::insert_account` was not **fully** atomic.
The code to reproduce the bug is here: https://github.com/interledger-rs/interledger-rs/commit/a3917726b12a31648c192d28c703ab5c1dce4d58

If the accounts of `alice_on_a` and `b_on_a` are being added at the same time and unfortunately, `b_on_a` is added when `alice_on_a` is being added, `alice_on_a` is added wi

[2019-11-13 19:35] dora-gt commented on #464
Also I think it would be nice to investigate other functions around redis about whether it is fully atomic or not, being careful about deadlocks.

[2019-11-14 01:26] dora-gt commented on #464
https://rust-lang.github.io/async-book/03_async_await/01_chapter.html#awaiting-on-a-multithreaded-executor

[2019-11-14 19:08] bstrie commented on #464
I have no trouble believing there are race conditions in this code (I had previously noted having seen some in https://github.com/interledger-rs/interledger-rs/issues/196#issuecomment-523664862 , and I think I may have left some comments in the redis store remarking at plausible race conditions). At the ones I was looking at it seemed like the difficulty was that we may have needed to move things

[2019-11-15 06:49] dora-gt commented on #464
Thanks Ben, yes, I agree that one of possible countermeasures is moving the variable into stores that could ensure the atomicity.

I think this problem is very profound. I mean, I think we should not update the ILP address of the node during any payment processes. For example, what happens if the ILP address is updated when some Stream payments are being processed? Maybe this is not tested and mig

[2019-11-16 00:06] gakonst commented on #443
Closing, since #506 got merged

[2019-11-16 00:06] #443 closed

[2019-11-16 00:06] gakonst commented on #427
Can this be closed? #506 takes care of tagging if i'm not mistaken @dora-gt

[2019-11-16 00:07] gakonst commented on #294
Does #506 take care of that? @dora-gt

[2019-11-18 00:20] gakonst opened #515 "Allow connectors to plug on exchange APIs"
If a connector is plugged on an exchange API (or on DEXs like Uniswap for ETH/ERC20 trades), it may be able to avoid having to run multiple settlement engines.

Say Alice has ETH and wants to pay Bob in BTC.
She makes a payment via the intermediary connector, once settlement to Bob is required, the connector makes a call to an exchange's API, deposits the ETH, makes a ETH/BTC trade, and issues a w

[2019-11-18 04:50] dora-gt commented on #294
Yes, as long as we write commit logs properly, it will be shown on the release notes of GitHub releases. Let's see if it suffices. Revisit if there are any problems or possible improvements.

[2019-11-18 04:50] #294 closed

[2019-11-18 04:56] dora-gt commented on #427
Thanks, yes, it will be tagged as the same version as the `ilp-node` crate version.
Commits on the `master` branch will be tagged as `latest` on the other hand.

[2019-11-18 04:56] #427 closed

[2019-11-18 07:40] dora-gt commented on #464
After exploring some functions on futures ([tokio::sync::lock](https://docs.rs/tokio/0.1.22/tokio/sync/lock/index.html), [futures_locks](https://docs.rs/futures-locks/0.5.0/futures_locks/)), experimenting those and looking into the implementation, I finally became to think about:

1. We should get rid of `RwLock` or `Mutex` because it is not safe in the Async context (mentioned [here](https://rust

[2019-11-18 10:24] dora-gt commented on #498
Sorry for the inconvenience. This should be fixed by #517.

[2019-11-19 01:09] dora-gt commented on #202
@KevinWMatthews Can this be closed now? or do you still have problems on examples?

[2019-11-19 01:32] dora-gt commented on #118
I think this could be closed now. It doesn't panic even if just `Bearer` is given.

@gakonst would you mind if I close this?

[2019-11-19 01:51] dora-gt commented on #501
I think this can be closed now because #503 is merged.

[2019-11-19 01:51] #501 closed

[2019-11-19 04:58] dora-gt commented on #467
Just taking a glance at this problem, I think these lines are causing the behavior.

https://github.com/interledger-rs/interledger-rs/blob/d6f5c748e0610e2ff7ee7446591ef20e900f3b63/crates/interledger-stream/src/client.rs#L387

https://github.com/interledger-rs/interledger-rs/blob/d6f5c748e0610e2ff7ee7446591ef20e900f3b63/crates/interledger-stream/src/client.rs#L270

Referring to the [ILPv4 RFC](http

[2019-11-19 04:59] dora-gt commented on #467
(Sorry I wrongly pushed close button)

[2019-11-19 07:23] dora-gt commented on #500
Regarding the RFC, shouldn't we get rid of prefixing with usernames? It seems that `Bearer` tokens (`b64token`) don't allow `:` in its credentials. So our bearer tokens don't conform to normative `Bearer` tokens, which doesn't look nice. If we want to do so, we could issue paths per user like `/accounts/:username/ilp`. Then we could treat our tokens as totally opaque.

[code]

Also, I'm curious ab

[2019-11-19 17:58] KevinWMatthews commented on #202
@dora-gt Looks good so far! If I encounter something else I'll open a new issue.

[2019-11-19 17:58] #202 closed

[2019-11-19 19:28] aanchal4 opened #520 "run-md.sh script does not kill services on build error"
If there is a build error while running one of the run-md.sh scripts in examples and the example does not run completely, then the services are not killed/stopped. When the example is re-run, the script still does not kill the services and gets stuck. @dora-gt

[2019-11-19 19:49] emschwartz commented on #513
Interledger allows sending 0-amount packets so I don't think we can or should rely on receiving an error here.

This is tricky because I think the T04 error is being caused by something else (not because the packet has an amount of 0). If the packet were reaching the STREAM server, I would say that the sender should use the `prepare_amount` in the STREAM response packet to figure out that 0 had be

[2019-11-19 20:01] #118 closed

[2019-11-19 20:03] #498 closed

[2019-11-19 20:34] emschwartz opened #521 "Should /ilp be moved to /accounts/:username/ilp ?"
Right now we use the authorization to determine which account the packets are being sent for. We could continue doing that or it might make more sense to put that path under accounts, since the packets are being sent on behalf of a specific account.

This could be a breaking change but we could do it in a backwards-compatible way by supporting both in the meantime and deprecating the `/ilp` (and `

[2019-11-20 14:06] matdehaast commented on #521
We initially had been using a singular `/ilp` but ended up changing towards an equivalent of `/accounts/:username/ilp`. The latter provides much more flexibility, especially when you are doing both authz and authn in two different steps.

[2019-11-20 21:09] emschwartz commented on #198
Can this be closed?

[2019-11-20 21:09] emschwartz commented on #230
Can this be closed?

[2019-11-20 21:09] emschwartz commented on #335
Can this be closed?

[2019-11-20 21:10] emschwartz commented on #446
@gakonst ping

[2019-11-21 02:16] dora-gt commented on #335
Yes, I'll close.

[2019-11-21 02:16] #335 closed

[2019-11-21 02:22] dora-gt commented on #230
Yes, I'll close.

[2019-11-21 02:22] #230 closed

[2019-11-21 02:27] dora-gt commented on #198
Yes, I'll close.

[2019-11-21 02:27] #198 closed

[2019-11-21 02:48] dora-gt commented on #521
I think we should adopt this approach as mentioned here https://github.com/interledger-rs/interledger-rs/issues/500#issuecomment-555370312 because now our bearer tokens don't seem to conform to normative ones.

[2019-11-21 03:23] dora-gt opened #522 "Rethink log levels"
It seems that some `Error` level logs are output **consistently** in tests. I'm not sure it deserves to be called `Error`s because we are just ignoring the outputs. `Error` generally means we have to do something immediately to fix it IMO. It might be annoying if we are operating `interledger-rs` on the production environment because it would be alerted consistently.

So I think we have to rethink

[2019-11-21 03:25] dora-gt commented on #522
Also we definitely need #317.

[2019-11-21 07:30] dora-gt opened #523 "Fix Ethereum examples to use `ilp-settlement-ethereum`"
Currently examples of source code mode don't work because the Ethereum settlement engine has become an independent binary of `ilp-settlement-ethereum`. We have to make the examples compatible with the change.

[2019-11-22 08:40] dora-gt commented on #520
Hmmm I'm not sure if this happens because all of our examples have the process that stops existing nodes, settlement engines and redis instances. Anyway, I'll look into.

[2019-11-22 08:51] dora-gt commented on #520
I just confirmed that even if there is compile errors, `run-md.sh` tries to stop existing processes.
Could you describe more about the situation? @aanchal4

[2019-11-22 11:34] dora-gt commented on #485
I just create a simple test for this:
https://github.com/interledger-rs/interledger-rs/blob/fix-%23485/crates/ilp-node/tests/cli.rs

It fails because of
[code]

So I think this is related to something Config-ish problem.

Maybe this line?
https://github.com/mehcode/config-rs/blob/e84979415a2b3a68734bc26c3228aa326dc33e3c/src/de.rs#L373

[2019-11-22 13:18] #523 closed

[2019-11-22 18:31] aanchal4 commented on #520
Here is what happens.
1) Run `../../scripts/run-md.sh README.md`
2) Stop the script before it executes completely (services not killed)
3) Immediately re-run `../../scripts/run-md.sh README.md`
  - Displays: `"Stopping Interledger nodes..." `and is stuck forever.
4) Check running processes on the system.
 - Shows running redis-server and ilp-node instances.

[2019-11-22 20:45] emschwartz commented on #522
Could you give examples of log lines that you think shouldn't be printed?

[2019-11-25 06:37] dora-gt commented on #522
Here are some examples:

- `ERROR interledger_api::routes::accounts: Error creating account. Settlement engine responded with HTTP code: 404 Not Found`
- `ERROR node_b:api:incoming{request.id=13c9f60e-8c0d-47df-92a2-838d6f35b8a5 prepare.destination=example.parent.a_on_b.alice_on_a.s_Zdm9jyi9L0WWki79YhatPx prepare.amount=2000 from.id=aa510f4d-4543-430e-ba7c-ccc6f6beb6ee}:{from.username=bob_on_b fro

[2019-11-25 06:43] dora-gt commented on #520
I tried sometimes but I could not reproduce...

[2019-11-25 08:20] dora-gt commented on #425
Actually I'd like to address this kind of issue in a more comprehensive way, like `rustc`.
`rustc` always tells us what was the problem with what we should do. That's why I love `rustc`.
I'd want to take on this issue along with #317.

[2019-11-25 08:22] dora-gt commented on #333
@nhartner Is this still what you'd need? or `testnet-bundle` or something satisfies your requirements?

[2019-11-25 09:14] dora-gt commented on #388
I'm closing this since #444 has been merged.

[2019-11-25 09:14] #388 closed

[2019-11-25 11:19] #472 closed

[2019-11-25 12:26] #500 closed

[2019-11-25 15:07] emschwartz commented on #522
That does sound like a problem so it seems like it should either be a warning or error. If that's the expected behavior, is there a way to differentiate between the case where we expect that result and responses like that (that maybe happen later) that would be unexpected and problematic?

Can you look into what's causing that? That's a very unhelpful error, but there should be an error logged if

[2019-11-25 15:14] #359 closed

[2019-11-26 15:31] gakonst commented on #78
Haven't been able to get progress on this, un-assigning until further notice

[2019-11-26 15:32] gakonst commented on #446
Yeah this was fixed in https://github.com/interledger-rs/interledger-rs/pull/507

[2019-11-26 15:32] #446 closed

[2019-11-26 18:05] leboiko opened #534 "Routes update when deleting an account"
When deleting an account on the node the routes are not being updated.

[2019-11-27 19:12] emschwartz commented on #377
Local tunnel currently isn't working: https://github.com/localtunnel/localtunnel/issues/329

[2019-11-28 13:59] gakonst commented on #520
Cannot reproduce either. Followed exact same steps. I Ctrl+C at the `Do you want to kill the services` prompt, so that the services remain alive. After that, when I rerun the script, it'll kill the services anyway, and things will proceed as normal.

[2019-11-28 14:08] gakonst commented on #439
@dora-gt can this be closed now? We haven't had any flakiness since the refactor of the engines and #448 I believe.

[2019-11-28 21:21] gakonst commented on #464
@dora-gt can this be closed now?

[2019-11-28 21:23] gakonst commented on #490
@dora-gt Can this be closed now? I haven't encountered this instability for the last weeks

[2019-11-28 21:31] gakonst commented on #485
Cloudflare's wrangler moved away from config here: https://github.com/cloudflare/wrangler/issues/867

Seems like config devs do not want multiple types of env vars / config options: https://github.com/mehcode/config-rs/issues/111#issuecomment-544970441

In this specific case, I'd be more in favor of just removing all the aliases and just using all lowercase. Don't see why anybody would write `cryp

[2019-11-28 21:49] gakonst commented on #397
This is due to using [Secrecy which hardcodes that.](https://github.com/iqlusioninc/crates/blob/develop/secrecy/src/lib.rs#L113)

@tarcieri can we adjust it in some way?

[2019-11-28 21:51] gakonst commented on #74
Should we implement an in-memory cache for any of the store's loaded accounts? (keyed by accountId)

[2019-11-28 22:10] tarcieri commented on #397
You can either make your own wrapper type which impls `DebugSecret` or we can change the upstream message. I agree`REDACTED` would be better

[2019-11-29 07:05] gakonst commented on #477
Based on our discussion from Rustfest, it seems like we are going to leave this as is? The AccountId change is now on master so that helped a bit with our services' generics.

Also, due to @bstrie's latest refactor, `Account` is no longer tied to the redis module, and shall be common to all backends we use. That said, should we close this?

[2019-11-29 07:06] gakonst commented on #475
I believe we can close this now? @bstrie

[2019-11-29 07:07] gakonst commented on #463
@emschwartz I believe we tried this already to no avail. @bstrie you think it's worth further investigation, based on the discussion we had with the Tower people in Rustfest?

[2019-11-29 08:43] gakonst commented on #292
Closing this, given that we tried it in #399 and chose to stick with our current setup

[2019-11-29 08:43] #292 closed

[2019-11-29 08:47] #138 closed

[2019-11-29 08:47] gakonst commented on #138
Closing as we discussed this elsewhere

[2019-11-29 09:34] gakonst commented on #86
@emschwartz should we close this?

[2019-11-30 10:07] dora-gt opened #546 "Enable the binary mode run-md tests on CI"
Once #543 is merged, it will test only in `source mode`.
Markdowns essentially should be tested in both the source mode and the binary mode although it might not be prioritized.

[2019-11-30 17:33] gakonst commented on #546
Binary mode does not make much sense for PRs it uses `latest` which corresponds to master. IMO it should run binary mode tests only after the merge to master.

[2019-11-30 20:14] tarcieri commented on #397
`secrecy` v0.5.1 is out with this change

[2019-12-02 15:19] bstrie commented on #477
I think there's still a question of whether or not AccountDetails ought to be merged with Account (AccountSettings would remain separate and in the API).

[2019-12-02 15:19] #475 closed

[2019-12-02 15:22] bstrie commented on #463
I'm convinced that there is *some* way to add boxing in order to speed up compilation, though we have a lot of other refactors to consider as well (like async/await), so this may something to leave until later.

[2019-12-02 16:48] emschwartz commented on #463
Alright let's close this for now

[2019-12-02 16:48] #463 closed

[2019-12-02 17:02] #86 closed

[2019-12-02 17:06] emschwartz commented on #74
I think that sounds like a reasonable idea

[2019-12-02 17:16] emschwartz commented on #485
FWIW using snake_case would be the most consistent with the rest of the config but picking one form instead of having multiple aliases sounds reasonable to me

[2019-12-02 18:28] #49 closed

[2019-12-02 18:51] #461 closed

[2019-12-02 19:06] #100 closed

[2019-12-02 19:06] bstrie commented on #499
Copying Evan's comment from #540:

[2019-12-02 19:33] kincaidoneil commented on #499
@gakonst @bstrie @latenssi Didn't see this was caused by an overflow. I think your original suggestion of F03 makes more sense then!

[2019-12-03 17:22] bstrie opened #549 "Provide performance benchmarks"
One of the primary goals of the Rust implementation is performance, but right now we're taking it on faith that the implementation achieves improved performance over the Node implementation. Even if we take as given that Rust is generally quite a bit faster than Javascript, we have no conception as to the magnitude of the difference between the two, which could be very important for people looking

[2019-12-03 19:36] emschwartz opened #550 "Auth needs to be fixed."
Desperately.

I tried to explain what values to set the `ilp_over_http_incoming_token` and corresponding option on the other node to to @austin-king and the current method of including the username in the token is crazy.

We need to prioritize:
- [x] Putting the username in the path https://github.com/interledger-rs/interledger-rs/issues/521
- [x] Getting rid of the code that parses the username f

[2019-12-04 08:13] #437 closed

[2019-12-04 08:52] gakonst commented on #550
I'm on #521, doing this in a backwards compatible way

[2019-12-04 16:52] emschwartz commented on #508
This will be fixed when https://github.com/interledger-rs/interledger-rs/issues/550 is changed

[2019-12-04 16:58] #508 closed

[2019-12-04 17:58] emschwartz commented on #357
This will be done as part of #550

[2019-12-04 17:58] #357 closed

[2019-12-04 20:18] emschwartz opened #554 "Investigate whether we can avoid copying the incoming ILP packet from the incoming HTTP request"
Most of Interledger.rs supports zero-copy ILP packet forwarding and manipulation. However, we are currently copying the packet as soon as it arrives from the HTTP request handled by `warp`. There may be a way to avoid having it copy the bytes in most cases.

`warp` doesn't expose the internal way the HTTP body is stored and instead provides the [`FullBody`](https://docs.rs/warp/0.1.20/warp/filters

[2019-12-05 08:57] gakonst commented on #499
To be clear: The OP's statement "the  request.prepare.amount is so small that the conversion to outgoing_amount results in a float between 0 and 1" is not correct, this happens because when Rust casts a large f64 to u64, it zeroes it, if it was larger than what can fit in u64.

[2019-12-05 14:57] #376 closed

[2019-12-05 16:53] gakonst opened #556 "Convert Strings to SecretStrings"
As title. Also in a few places where we use `String` in Warp, they can be automatically converted via `Secrecy`'s `FromStr` implementation, after a new release is made.

_Originally posted by @gakonst in https://github.com/interledger-rs/interledger-rs/pull/553/review_comment/create_

[2019-12-05 18:30] emschwartz opened #557 "Towards a v1.0"
What would it take for us to release a v1.0 of the different Interledger.rs components?

Here are some of the things I would put on the list:

# ilp-node
- [ ] Stable HTTP API
- [ ] Stable config options
- [ ] Stable protocol implementations (SPSP, STREAM, CCP, BTP, etc)
- [ ] Thorough testing to ensure no major bugs or performance issues
- [ ] Stable log format
- [ ] Stable support for 1+ databas

[2019-12-05 18:44] bstrie commented on #557
Any thoughts on "future proofing" the API by prefixing all paths with "v1/" or something?

Are the specifications of these protocols themselves stable?

[2019-12-05 18:48] bstrie commented on #557
One thing to consider is that I would like to audit the public interfaces of each crate in order to make sure there's no hidden, forgotten things that we'd be accidentally stabilizing.

Regarding documentation, I would like *all* public items to have documentation comments (and ideally doctests).

I'd recommend starting this process at the very bottom of the crate hierarchy, with interledger-packe

[2019-12-05 18:55] gakonst commented on #521
Fixed in https://github.com/interledger-rs/interledger-rs/pull/553

[2019-12-05 18:55] #521 closed

[2019-12-05 18:59] gakonst commented on #550
https://github.com/interledger-rs/interledger-rs/pull/553 fixes the first 2 tasks

- The Auth tokens can be anything format, so not sure if there is something to document here
- I'll add a `peering.md` under `docs/` describing how peering should work and when each field is necessary or not.

[2019-12-05 19:02] emschwartz commented on #550
After #553 I agree it might not be necessary to specifically document the token format

Awesome

[2019-12-05 19:11] emschwartz commented on #557
Not necessary because you can always put a `v2` and put the next version under there :wink:

Most, yes. The only one that hasn't been finished and merged is CCP (though https://github.com/interledger/rfcs/pull/455 is pretty close).

Agreed. I think there's a way to have the compiler require that too.

Not a bad idea. FWIW, `ilp-packet` already [pretty stable](https://github.com/interledger-rs/inte

[2019-12-06 17:26] bstrie commented on #142
Update: hyper's next stable release looks imminent, likely this week. Once that's out, then we can expect a stable release of tokio-tungstenite, which itself would allow a stable release of warp. Once those three libraries have released, we'll then be able to begin porting to `std::future::Future` (and once that's finished we can then upgrade to async/await, possibly in a separate PR).

[2019-12-06 20:31] bstrie commented on #557
Re: "crate hierarchy", here's what our current interledger-only dependency graph looks like:

![Screenshot_2019-12-06 Webgraphviz](https://user-images.githubusercontent.com/865233/70352847-13592300-183a-11ea-93b0-da7ec24e9469.png)

Suggesting the following hierarchy:

1. packet
2. service
3. btp, ccp, router, ildcp, http
4. stream, settlement
5. spsp, service-util
6. api
7. store
8. interledger

A

[2019-12-07 15:38] #499 closed

[2019-12-09 22:24] gakonst opened #560 "Add Idempotency to ILP over HTTP"
We can probably add idempotent retries to the client/server of ILP over HTTP, similarly to the one in the engines.

I think this is slightly different as we cannot assume that the peer will eventually reply.

Do we retry Prepares? Fulfils? Both?

[2019-12-12 23:36] gakonst commented on #550
Closing since #559 is merged

[2019-12-12 23:36] #550 closed

[2019-12-12 23:55] gakonst commented on #389
Given that the HTTP API is now readily available via OpenAPI, can this be closed? Swagger provides `curl` commands: https://app.swaggerhub.com/apis/interledger-rs/Interledger/

[2019-12-12 23:57] gakonst commented on #416
Can we close this? I describe this in https://github.com/interledger-rs/interledger-rs/blob/master/docs/peering.md#routing-relations

[2019-12-12 23:58] gakonst commented on #423
I think this is a rust/cargo issue, is it within our control?

[2019-12-13 00:03] bstrie opened #561 "interledger-packet API review for v1.0-rc"
As per #557, it's time to start thinking about stable releases of the crates in this repo. As a demonstration of the sort of process that might entail, this issue exists to discuss the public API of interledger-packet (i.e. the only one of our crates that doesn't depend on any of our others, thus the natural starting point for stabilization).

Below we will list every public item exported by inter

[2019-12-13 00:04] bstrie commented on #561
Paging @emschwartz , @gakonst , @dora-gt to see if anyone has any thoughts about this.

(Reminder that this is also a trial of the process we might use to stabilize the other crates as well, let me know if you have any feedback on the process itself.)

[2019-12-13 00:05] bstrie commented on #389
Sounds good to me.

[2019-12-13 00:05] #389 closed

[2019-12-13 00:06] gakonst commented on #447
The point of the RFC was that there is no need for the messages to have any format, and leave it up to the engine to handle it per imnplementation! (Closing)

[2019-12-13 00:06] #447 closed

[2019-12-13 00:06] gakonst commented on #520
Closing this, @aanchal4 if you can reproduce this from current master, please reopen

[2019-12-13 00:06] #520 closed

[2019-12-13 00:16] gakonst commented on #449
Agree we should flag 1.39 once we switch to async/await

[2019-12-13 00:21] gakonst commented on #561
Regarding OER: https://interledger.org/rfcs/0030-notes-on-oer-encoding/

[2019-12-13 00:23] bstrie commented on #442
I believe we have this implemented via the `google-pubsub` feature in ilp-node.

[2019-12-13 00:23] #442 closed

[2019-12-13 00:50] bstrie commented on #423
I believe this happens because cargo only looks to reuse artifacts when all the inputs are exactly the same, including compilation flags such as `-p`. I'm not sure why we tell people to build with `-p`, but AFAICT it should be unnecessary.

[2019-12-13 02:20] emschwartz commented on #561
For a while I thought we might want to either make this private or move it to a completely separate crate. However, it might make sense to just keep it the way it is. OER is an encoding format that could be implemented on its own in a separate crate (ideally as a full `serde`-compatible format) but for now it's primarily used in places where the ILP packet is also used so it may be fine to keep th

[2019-12-13 02:23] emschwartz commented on #560
This would be a protocol change so it might be worth proposing on the RFCs repo as well.

It may be possible to add this in a backwards-compatible way using headers to do the version negotiation.

Adding retries for Fulfills/Rejects is definitely more valuable, but it might be worth adding it for Prepares as well while we're at it. The benefit of being able to retry Prepares is that if the connect

[2019-12-14 19:06] #423 closed

[2019-12-14 19:08] gakonst commented on #534
@leboiko could you give more context on the bug? Please provide a test case illustrating the behavior you are experiencing, and the behavior you expected to see!

[2019-12-14 19:17] gakonst commented on #490
Closing this, feel free to re-open if you re-encounter it.

[2019-12-14 19:17] #490 closed

[2019-12-14 19:32] gakonst commented on #505
@emschwartz We do not really directly depend on OpenSSL, it is imported by our other packages via `native-tls` which itself is imported due to `hyper-tls`, `reqwest` and so on.

As a result, I think it is out of control and this can be closed?

[2019-12-14 19:36] gakonst commented on #484
Closing this as it should be fixed. @treisto feel free to re-open if you re-encounter it on latest master!

[2019-12-14 19:36] #484 closed

[2019-12-14 19:41] gakonst commented on #477
So if we merged them, we'd have to move `Account` from `interledger-store` to `interledger-api`.

In addition, we'd have to figure out a way for Serde to not require the caller to provide `id` when creating (because it must be generated by the node and not by the user) or modifying (because we do not want account-id's to be modifiable) an account.

Making the `id` field `Option` could be a choice,

[2019-12-14 19:43] gakonst commented on #439
Closing, please re-open if you reproduce this from master

[2019-12-14 19:43] #439 closed

[2019-12-14 19:47] gakonst commented on #417
I do not mind leaving them as is, especially now that with the [Swagger specification](https://app.swaggerhub.com/apis/interledger-rs/Interledger/) we can quickly see which are the admin and which are the user-apis.

[2019-12-14 19:48] gakonst commented on #416
Closing, feel free to re-open if you think my description in the docs is not enough

[2019-12-14 19:48] #416 closed

[2019-12-14 19:50] gakonst commented on #415
@sappenin closing this as it should be fixed in https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-http/src/server.rs#L57. Please re-open if you still observe this error

[2019-12-14 19:50] #415 closed

[2019-12-14 19:50] #407 closed

[2019-12-14 19:56] gakonst commented on #395
This is fixed in master in https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-stream/src/server.rs#L251-L260 and

[2019-12-14 19:56] #395 closed

[2019-12-14 19:59] gakonst commented on #390
We've changed the way credentials are parsed (username:password format is no longer used), so closing this

[2019-12-14 19:59] #390 closed

[2019-12-14 20:03] gakonst commented on #377
`lt -h http://localtunnel.me --local-https false -p $port` works until they renew the SSL cert.

[2019-12-14 20:05] gakonst commented on #364
This has to do with our store traits not returning any meaningful error.

This does not make much sense to me, what does insert & modify an account mean? You'd just insert it with the correct info

[2019-12-14 20:06] gakonst commented on #361
Closing as we currently use my proposed idea.

[2019-12-14 20:06] #361 closed

[2019-12-14 20:13] gakonst commented on #280
Closing, multiple parent accounts is a bad idea for sure

[2019-12-14 20:13] #280 closed

[2019-12-14 20:13] gakonst commented on #250
Closing, our error handling is very nice now

[2019-12-14 20:13] #250 closed

[2019-12-14 20:15] gakonst commented on #196
This was the only missing feature, and this is implemented in https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-api/src/routes/accounts.rs#L248

[2019-12-14 20:15] #196 closed

[2019-12-14 20:15] gakonst commented on #166
Closing this as it's stale, if you can reproduce this on master feel free to re-open

[2019-12-14 20:15] #166 closed

[2019-12-14 20:18] #115 closed

[2019-12-14 20:32] #505 closed

[2019-12-14 20:34] emschwartz commented on #377
We should probably use an alternative though...

[2019-12-14 20:36] #417 closed

[2019-12-14 20:36] emschwartz commented on #477
Let's keep the `AccountDetails` separate from the `Account` for now. It's not the worst thing to have separation between the API schema and the DB schema.

[2019-12-14 20:36] #477 closed

[2019-12-16 08:17] matdehaast opened #566 "Pluggable Incoming and Outgoing Service via WASM modules"
Adding custom logic within the packet path allows people to add business logic in an easy manner. This can currently be done by writing your own services in rust and compiling the node. However that limits to people capable of writing Rust.

Other projects allow plugin type models for similar functionality though are language specific:
* https://docs.konghq.com/0.10.x/plugin-development/ (Lua)
* h

[2019-12-16 08:44] #397 closed

[2019-12-16 15:00] #485 closed

[2019-12-16 17:21] emschwartz commented on #566
This is an awesome idea, thanks for the suggestion!

It would be worth looking into [wasmtime](https://github.com/bytecodealliance/wasmtime) and [wasmer](https://github.com/wasmerio/wasmer-rust-example) for this.

[2019-12-16 17:29] emschwartz commented on #566
The thing that might be hard about this is making the `wasm` module interact with the `Account` struct and the store (database). Each service is generic over a specific type of Account + store combo that provides the functionality it needs. I'm not sure there's a sensible or safe way to have the module define methods on those objects or use methods that are defined in other traits. This may be wor

[2019-12-16 17:56] emschwartz commented on #114
We have a method that returns the `data` as a `&[u8]` so I think we can close this issue now

[2019-12-16 17:56] #114 closed

[2019-12-16 17:57] emschwartz commented on #124
I think we're going to leave this as is for now

[2019-12-16 17:57] #124 closed

[2019-12-16 17:58] emschwartz commented on #133
We're using larger machines on CI for now and haven't run into this problem for a while. Hopefully some future refactors will reduce the memory required to compile the project but I think we can close this issue now

[2019-12-16 17:58] #133 closed

[2019-12-16 17:59] emschwartz commented on #120
We should make a decision on this issue before finalizing #557

[2019-12-16 18:10] emschwartz commented on #224
I don't think we're going to use this now

[2019-12-16 18:10] #224 closed

[2019-12-16 18:11] emschwartz commented on #257
We may want to compile some of the libraries to wasm but it'll be really complicated and of questionable value to compile the whole node to wasm. Closing this issue for now

[2019-12-16 18:11] #257 closed

[2019-12-16 18:12] emschwartz commented on #326
I'm going to close this for now. If we want to pursue this in the future, I think it should be proposed in the RFCs first.

[2019-12-16 18:12] #326 closed

[2019-12-16 18:13] emschwartz commented on #327
The examples are somewhat simpler now that we're using pre-built binaries instead of docker images. I'm going to close this for now, though we may want to reconsider how the examples work at some point in the future

[2019-12-16 18:13] #327 closed

[2019-12-16 18:14] emschwartz commented on #354
Can this be closed now?

[2019-12-16 18:15] emschwartz commented on #291
We should make a decision on this before #557 is finalized

[2019-12-16 18:16] emschwartz commented on #433
Can this be closed now?

[2019-12-16 18:16] emschwartz commented on #464
Can this be closed now?

[2019-12-16 18:18] tarcieri commented on #291
Note the relevant crate is here: https://github.com/RustCrypto/AEADs/tree/master/aes-gcm-siv

There may be a security audit happening soon too.

[2019-12-16 18:18] emschwartz commented on #534
I'm going to close this now but feel free to reopen if someone can document how to reproduce this issue and describe the desired behavior

[2019-12-16 18:18] #534 closed

[2019-12-16 18:27] emschwartz commented on #554
This is blocked until we upgrade to a later version of `warp` that uses `bytes` >= v0.5.0

[2019-12-16 18:27] emschwartz commented on #556
Is this still blocked?

[2019-12-17 07:24] dora-gt commented on #464
I think we have to essentially fix this problem, later after SQL is integrated.
So this should not be closed IMO.

[2019-12-18 11:19] gakonst commented on #556
Yeah, so the Secrecy version which includes that is `0.6` which updated `bytes` to `0.5` which itself had a few breaking changes. I am not sure yet how much effort is required, but would probably mean the whole repo needs to move to bytes `0.5`. @tarcieri do you think it'd be possible to make a minor Secrecy release as `0.5.2`, with https://github.com/iqlusioninc/crates/pull/309 in it?

[2019-12-18 12:14] gakonst commented on #557
For completeness, I'm opening issues similar to #561 for the above crates

[2019-12-18 12:19] gakonst commented on #142
Update: hyper 0.13.1 is out, and it's had tokio-0.2 support since 0.13. We're now waiting for tokio-tungstenite which has the corresponding PR almost ready for merge: https://github.com/snapview/tokio-tungstenite/pull/68/files

[2019-12-18 12:30] gakonst opened #569 "interledger-service API review for v1.0-rc"
interledger-service public items marked with `x` are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `username` (struct)
- [x] `trace`(module): Does this need to be exported? It just contains implementations to the service traits for `Instrumented`
- [x] `Account` (trait)
   - Should we document each function's expected output? Their names

[2019-12-18 12:54] gakonst opened #570 "interledger-btp API review for v1.0-rc"
`interledger-btp` public items marked with x are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `BtpAccount` (trait)
  - Should the trait functions also be documented? Seem a bit self explanatory from the name
- [x] `BtpStore` (trait)
- [x] `connect_client` (fn)
- [x] `connect_to_service_account` (fn)
- [x] `parse_btp_url` (fn)
   - Shoul

[2019-12-18 13:02] gakonst opened #571 "interledger-ccp API review for v1.0-rc"
`interledger-ccp` public items marked with x are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `CcpRoutingAccount` (trait)
- [x] `RouteManagerStore` (trait):
   - Should this be renamed to `CcpRoutingStore`? That would make it consistent with how the other Account/Store pairs are named.
- [x] `RoutingRelation`
- [x] `Mode`
   - We never

[2019-12-18 13:20] gakonst opened #572 "interledger-router API review for v1.0-rc"
`interledger-router` public items marked with x are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `Router` (struct)
- [x] `RouterStore` (trait)

[2019-12-18 13:32] gakonst commented on #458
What do you think about adding that functionality on the packet like a tag via an additional (optional?) field on the `Prepare`/`Fulfil`/`Reject` structs? Could toggle that via a feature-flag.

[2019-12-18 14:03] gakonst opened #573 "interledger-ildcp API review for v1.0-rc"
`interledger-ildcp` public items marked with x are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `get_ildcp_info` (fn)
- [x] `IldcpService` (struct)
   - `handle_request` should be documented
- [x] `packet::IldcpRequest`
   - Can we move the `to_prepare` implementation inside the `From` implementation?
- [x] `packet::IldcpResponse`

[2019-12-18 14:12] gakonst opened #574 "interledger-http API review for v1.0-rc"
interledger-http public items marked with `x` are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `HttpAccount` (trait)
- [x] `HttpStore` (trait)
- [x] `deserialize_json` (fn)
- [x] `HttpServer` (struct)
   - `as_filter()`: Should we put some docs on the exact API endpoints this exposes or point to the spec?
- [x] `HttpClientService` (stru

[2019-12-18 14:49] gakonst opened #575 "interledger-stream API review for v1.0-rc"
interledger-stream public items marked with `x` are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] StreamDelivery (struct)
- [x] `send_money` (fn)
- [x] `SendMoneyFuture` (struct)
  - Not public, but its implementation and fields must be documented in detail since it's our main low-level payments protocol and may be a prime target for fut

[2019-12-18 15:28] tarcieri commented on #556
Yeah, I can do that.

Also in a pinch you can include two different versions of bytes (I had to do that [in the tendermint crate](https://github.com/interchainio/tendermint-rs/blob/master/tendermint/Cargo.toml#L35) because Prost hasn't updated yet), but avoiding that is probably for the best.

[2019-12-18 15:50] gakonst opened #576 "interledger-settlement API review for v1.0-rc"
interledger-settlement public items marked with `x` are documented. Non-exported items are not taken into account. Follows format from #561.

Part of #557.

- [x] `api` (module)
- [x] `client::SettlementClient` struct (need to also document its `send_settlement` method)
- [x] `SettlementMessageService` (struct): passthrough unless message is targeted for our node's SE
- [x] `create_settlements_fil

[2019-12-18 16:41] tarcieri commented on #556
Made a backport PR here: https://github.com/iqlusioninc/crates/pull/316

[2019-12-18 16:56] tarcieri commented on #556
It's out: https://crates.io/crates/secrecy/0.5.2

[2019-12-18 18:27] emschwartz commented on #458
That's different than what I describe above. We don't need an extra field on the packet struct, because the way we're using `tracing` now already carries the relevant details alongside the request (which includes the packet) as its processed.

This issue is about enabling the same ID to be used across multiple nodes, which would require sending it over the bilateral protocol.

[2019-12-18 18:29] emschwartz commented on #569
This is going to have some serious breaking changes (or potentially be removed) based on #434 #142 #85

[2019-12-18 22:25] bstrie commented on #142
It occurred to me that we'll probably want to also wait for redis's async/await PR to land, which, according to the maintainers, should proceed during the holidays: https://github.com/mitsuhiko/redis-rs/pull/232

[2019-12-18 22:27] bstrie commented on #569
If we did replace the services with Tower, I imagine we'd still want this crate around to provide IncomingRequest, OutgoingRequest, and Account.

[2019-12-18 22:28] bstrie commented on #569
Should AddressStore be defined in interledger-packet, where Address is defined?

[2019-12-18 22:36] bstrie commented on #433
I believe this predates the great `default-features = false` refactor; today it looks like this instead:
[code]
So we did manage to get rid of 7 duplicated dependencies. I'm not entirely satisfied, but this is such a low priority for now (especially since now we have a good understanding of where in the pipeline our compilation time problems are, and are unrelated to duplicated dependencies) that

[2019-12-18 22:36] #433 closed

[2019-12-19 01:07] emschwartz commented on #569
No. `interledger-packet` is just the (de)serialization format.

[2019-12-19 18:13] ibanfi opened #578 "Handling special rate"
The stock ILP node is able to handle flat exchange rate only, it cannot handle complex business logic (pricing curves) and it cannot handle either when I want to provide special exchange rate for my customers.

The idea is: instead of implementing a complex and parameterized rate service into the ILP node (or outside, providing as a service), let the customer do this. The sender sends the amount a

[2019-12-20 17:06] gakonst opened #580 "CCP Interoperability with other connectors"
As discussed with @sappenin we should check if our CCP implementation is compatible with the one from the Java and Javascript connectors and if not, write some tests and identify which interoperability points we're missing.

[2019-12-21 12:05] #556 closed

[2019-12-23 09:56] Tapanito opened #581 "Unable to settle a payment between connectors"
Short summary:

I've configured a few connectors using the following guide: https://github.com/interledger-rs/interledger-rs/tree/master/examples/xrp-settlement

However, I came across a strange behaviour. When I make a payment of 100 from Alice to Bob, I can see that the payment is settled on the ledger, but this is not reflected in the balances of the accounts. Alice's balance on node Alice, dro

[2019-12-23 12:32] gakonst commented on #581
I recently changed the connector to always trust the engine for the received amount, moving all the leftover handling on the engine side.

As per the RFC, the connector does not need to respond with anything meaningful to the engine
![image](https://user-images.githubusercontent.com/17802178/71358211-ea9e9080-2590-11ea-9a75-52c45e4ccc47.png)

@kincaidoneil is this just the engine giving a false-po

[2019-12-23 14:05] Tapanito commented on #581
Thank you for shedding some light on the matter @gakonst  . It explains the origins on the error, I don't understand, why when I make  a payment from Alice to Bob, Bob's account on node Bob does not get incremented? I.e. after I make a payment from Alice to Bob, Alice's account on node Alice is set to -100, Alice's account on node Bob is set to 100 (from what I understand this indicates the amount

[2019-12-23 17:57] kincaidoneil commented on #581
Nice catch, @gakonst. I'll fix that issue 👍 (I'm not sure that explains the balance inconsistencies though?)

[2019-12-24 00:45] nhartner commented on #427
I'm still only seeing a single tag "latest" in dockerhub: https://hub.docker.com/r/interledgerrs/ilp-node/tags

[2019-12-24 01:04] dora-gt commented on #427
Hi Neil,

That's because any other releases haven't been made after the CI process was merged.
Would you need older tags?

[2019-12-26 10:34] gakonst commented on #581
@Tapanito I've tried reproducing manually and I am unable to. Can confirm that the XRP engine logs the error you mentioned, but we have already discussed that.

Could you please provide a detailed execution log of all the commands you execute to setup the accounts and make payments?

[2019-12-26 17:12] sappenin commented on #427
Hi @dora-gt yes, we have a Java build that relies upon a specific version of the Rust Connector. When the Rust connector changes, our build breaks.

I'm not sure what the easiest fix here is for you - maybe make an intermediate release of the Rust Connector that the Java team can rely on until the v0.9/v1.0 of the Rust Connector is released?

[2019-12-26 19:22] nhartner commented on #427
An initial release tag would be nice. There was backwards incompatible change made here https://github.com/interledger-rs/interledger-rs/commit/e3cb7d1fb2b02a04bf0c945309055bd7048aa531
Since there is only a "latest" version our integration tests started breaking. I've fixed our integration tests to work with the new changes so not a high priority. But having a immutable, tagged image would prevent

[2019-12-30 19:47] Tapanito commented on #581
@gakonst sorry for the delay. I'm running connectors on two VMs, with hostnames alice and bob (this will be important in the configs bellow). There is an XRP settlement engine running on each machine with the following env variables:
[code]

Each connector is configured with the following config file:

[code]

For each VM I create the main account as follows:

[code]

I link the accounts the follo

[2020-01-04 23:58] kincaidoneil commented on #273
Also, when we implement this, we need to update the STREAM sender to limit the delivered amount based on the minimum amount they set in the Prepare (the delivered amount should be the min of what the receiver claims they got, and what we told them was the minimum they should accept).

https://github.com/interledger-rs/interledger-rs/blob/748591691bf787bee8aafd380ac3d5c5872d82e5/crates/interledger-

[2020-01-05 11:20] gakonst commented on #557
Update on this:

- Futures 0.3 and async/await is WIP in https://github.com/interledger-rs/interledger-rs/pull/582 and couple of other branches which have yet to be pushed.

- BTP will have to wait, until https://github.com/snapview/tokio-tungstenite/pull/68 is merged.

- I am happy with the HTTP API as is right now, @bstrie do you think anything should change there? FWIW the features from https:/

[2020-01-07 00:35] nhartner commented on #333
Closing because `ilp-node` docker image addresses my needs.

[2020-01-07 00:35] #333 closed

[2020-01-07 13:42] gakonst opened #583 "Implement From<Reject> for common types"
Would be useful to find which types get put in map_err's a lot of times, and implement From<Reject>  for them. Related to #58 and #317

[2020-01-09 17:05] kincaidoneil commented on #557
I think this needs to be added to the pre-1.0 TODOs: [Enforce minimum exchange rates (#273)](https://github.com/interledger-rs/interledger-rs/issues/273). We can't have all payments vulnerable to be stolen by intermediaries. I'd be open to implementing that unless someone else was?

I also think we should consider implementing #120, but that's also possible to do backwards compatibly so it's not a

[2020-01-10 07:48] gakonst commented on #557
@kincaidoneil Yeah if you want please go ahead and tackle #273.

[2020-01-10 16:58] sappenin commented on #578
I'm not sure this is possible as you've framed the question. Let's imagine a $100 payment through the Connector. It's likely the Connector will see this "payment" as a series of packetized ILPv4 "payments" (e.g., 10000 packets of $.01 each).

Because of this, I don't think the Connector would have any way to know that any particular packet is for any particular macro-payment. That is, it won't be

[2020-01-17 09:00] gakonst commented on #52
tokio-postgres had a 0.5 release, with async/await support. Seems to me like we could use it.

@cjimison https://github.com/cjimison/interledger-rs/tree/feature/postgres I found this, but there's no postgres related code that I can see, could you perhaps push any of the work that you did, for reference? Thanks!

https://docs.rs/tokio-postgres/0.5.1/tokio_postgres/

[2020-01-17 10:27] gakonst opened #586 "Add endpoint to adjust tracing level"
Currently we initialize `tracing` with whatever log level is given via the `RUST_LOG` env variable. It'd be nice if we had one more [admin API endpoint](https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-api/src/routes/node_settings.rs), at `/tracing-level` which would allow the node operator to modify it.

- https://docs.rs/tracing-subscriber/0.2.0-alpha.4/tracing_sub

[2020-01-17 10:31] gakonst opened #587 "Should we use cargo-hack in CI?"
https://github.com/taiki-e/cargo-hack

Would be nice to have it or augment our pipeline so that we test all features and ensure we're not missing anything.

[2020-01-17 12:27] matdehaast commented on #586
This would be really handy as usually I don't want to bounce the process to debug an issue

[2020-01-18 09:12] gakonst opened #588 "Migrate to cell_once instead of lazy_static"
@bstrie wrote:

This should be easy and fairly straightforward.

The PR should also disable the filter for lazy static in our cargo audit call: https://github.com/interledger-rs/interledger-rs/blob/master/.circleci/config.yml#L50

[2020-01-20 10:18] gakonst commented on #581
@Tapanito

Update: I've debugged this, the problem is that the engine decides that the amount `5e-4` is less than the acceptable granularity and holds it in the leftovers:

[code]

Here's a script which reproduces this. @kincaidoneil this is on your side I believe, we had said that the engine will not need to track leftovers when it needs to notify the connector

[2020-01-20 17:00] gakonst commented on #418
Tonic got a 0.1 release: https://luciofran.co/tonic-0-1-release/

[2020-01-20 17:02] gakonst commented on #142
Fixed in https://github.com/interledger-rs/interledger-rs/pull/585

[2020-01-21 00:21] dora-gt commented on #586
Hmmm I’m not sure if we want to set the level after launching nodes. Isn’t it sufficient to modify `RUST_LOG`? Do you want to **after launching**? @matdehaast

[2020-01-21 09:47] gakonst commented on #586
Yes, this is for modifyign the log levels after the node has been launched, without having to restart the node.

[2020-01-22 15:53] sappenin commented on #474
@bstrie Any updates here?

[2020-01-22 16:02] sappenin commented on #273
@kincaidoneil can you clarify that one? Is there a bug in the Java logic?

[2020-01-22 16:19] gakonst opened #590 "Relax our traits"
Traits such as `BalanceStore` have unnecessary dependencies on `AccountStore`, when the only thing needed from the account is its id. The function signature of such traits should be changed to take an associated type `AccountId: ToString`.

<s>This might be applicable in other traits as well, but I haven't fully investigated it. Also applicable for some of our `Account` extension traits, e.g. the

[2020-01-22 18:07] gakonst commented on #449
https://github.com/rust-lang/rust/issues/65262

[2020-01-23 00:56] kincaidoneil opened #591 "Trigger settlement immediately after creating an account"
If the `settle_to` amount is configured to prefund the peer, settlement should be triggered immediately after configuring the account within the settlement engine, likely in this function: https://github.com/interledger-rs/interledger-rs/blob/748591691bf787bee8aafd380ac3d5c5872d82e5/crates/interledger-api/src/routes/accounts.rs#L565

In this case, you should not have to fulfill a packet in order t

[2020-01-23 01:13] kincaidoneil opened #593 "Document balances and how to configure settlement parameters"
In trying to setup an account that would prefund its peer, I couldn't find any documentation on what a positive/negative balance represents or how I should set the `settle_to`, nor what units I should use. The best I could find was this in line the ETH example:

We need to document, within the HTTP API specification _and_ the `ilp-cli` help text (and maybe elsewhere, too?):
- When `settle_to` gets

[2020-01-23 01:18] kincaidoneil commented on #593
[The peering doc](https://github.com/interledger-rs/interledger-rs/blob/master/docs/peering.md#payments-and-settlement-related-parameters) is more helpful, but still not great, and isn't linked from the README

[2020-01-24 07:47] dora-gt commented on #40
Should also consider https://github.com/interledger-rs/interledger-rs/issues/297

[2020-01-24 16:43] gakonst commented on #474
Given that we haven't had any progress on this, we decided with @sappenin to move forward with PostGRes and tokio-postgres for this task

[2020-01-24 16:44] gakonst commented on #52
Closing in favor of #474

[2020-01-24 16:44] #52 closed

[2020-01-24 16:46] gakonst commented on #454
This is blocked on the node not compiling fast with metrics enabled. Will revisit once we have figured out that problem in https://github.com/interledger-rs/interledger-rs/pull/609

[2020-01-24 16:51] sappenin commented on #273
@kincaidoneil this has been assigned to you - I think it's worth fixing.

[2020-01-24 16:55] sappenin commented on #474
In Java we have all account-related data stored in Postgres (only balance tracking is still persisted in Redis). I suggest we replicate the DDL that we have in the Java project here. See [here for the table structure](https://github.com/interledger4j/ilpv4-connector/blob/master/connector-persistence/src/main/resources/db/changelogs/base/changelog.xml) used by the Java Connector.

[2020-01-27 06:25] gakonst commented on #581
@kincaidoneil were you able to look at this?

[2020-01-27 06:36] gakonst opened #610 "Expand Service Util and Store Tests"
The RateLimitService, BalanceService, MaxPacketAmountService are all missing tests.

Same applies to the store implementations, as they just check for errors, but not specifically for which errors.

depends on #613

- [x] RateLimitService
- [x] BalanceService
- [x] MaxPacketAmountService

[2020-01-27 14:13] gakonst commented on #581
Closing @kincaidoneil please open a separate issue on settlement-core/ilp-settlement-xrp

[2020-01-27 14:13] #581 closed

[2020-01-29 10:14] gakonst commented on #569
Maybe we can remove the `mut` requirement from services, as @kincaidoneil pointed out:

[2020-01-29 10:51] #85 closed

[2020-01-29 10:52] #142 closed

[2020-01-29 10:52] #449 closed

[2020-01-29 14:26] #425 closed

[2020-01-29 19:58] bstrie commented on #569
If we're not sure why that function is `&mut self` then I'd say it's worth a try to remove it, if only to see whether it causes any problems (assuming that we don't actually need mutability anywhere, then it should be entirely painless to go from `&mut self` to `&self`). But I forget the broader context of the conversation, was there something else that we were hoping to gain from this? Something

[2020-01-30 16:16] kincaidoneil opened #615 "Don't clone the entire service chain on every packet"
Since calling `handle_request` on the service interface requires a mutable borrow, we're cloning the entire service chain on every packet to get around this.

For ILP-over-HTTP requests, it happens _twice_:

https://github.com/interledger-rs/interledger-rs/blob/4b491ab76ca4b73ef53e101fc2cb1a71e32f53d2/crates/interledger-http/src/server.rs#L124-L135

https://github.com/interledger-rs/interledger-rs

[2020-01-30 17:06] gakonst commented on #615
It's not the mutable borrow that makes us require the clone, it's the requirement of the closure to be `Fn`. If you don't clone and pass by value it'll obviously be `FnOnce`, which doesn't work. Alternatively, you could try adding references to work around this, but I haven't figured out how to make lifetimes work in this case. There might be a way to get it working, but do note that even the Warp

[2020-02-03 08:35] #317 closed

[2020-02-03 08:35] #364 closed

[2020-02-03 08:35] #583 closed

[2020-02-04 04:24] bstrie commented on #571
- I'd say yes to the rename of `RouteManagerStore`.
- No opinion on `Mode`, do whatever seems most conservative.
- If `RouteProp` can be made `pub(crate)`, then absolutely. Reducing the public surface area is good.
- `CcpRouteManagerBuilder`: Even just a line saying something like "See documentation on fields" would be nice to show that documentation wasn't just forgotten about.

[2020-02-04 04:29] bstrie commented on #569
- if the `trace` module doesn't need to be exported, then don't export it. Reduce public surface area.
- `Account`/`AccountStore`: if the names are self-explanatory then don't worry about it.
- `IncomingRequest`/`OutgoingRequest`: comments on fields sounds good to me
- `IncomingService`/`OutgoingService`: if the behavior isn't self-explanatory, then it should be documented
- `WrappedService`: rena

[2020-02-04 04:30] bstrie commented on #570
- `parse_btp_url`: remove it if we can get away with it

[2020-02-04 04:34] bstrie commented on #561
- `oer::BufOerExt::read_var_octet_string_length`/`oer::MutBufOerExt::put_var_octet_string_length`: both should either have their doc(hidden) removed or be removed from the public interface
- should we get rid of `Packet`? Evan seemed to suggest it was unnecessary

[2020-02-04 04:35] bstrie commented on #574
- `as_filter`: give a brief summary but link to the spec

[2020-02-04 04:36] bstrie commented on #575
- `Error`: not sure if this was already addressed in the error overhaul, but if we don't need it then let's get rid of it

[2020-02-04 08:17] #588 closed

[2020-02-04 08:22] #576 closed

[2020-02-04 08:25] gakonst commented on #574
Yup, it does that right now: https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-http/src/server.rs#L111. The used `ilp_over_http` method underneath also has details on how it works https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-http/src/server.rs#L63

[2020-02-04 08:25] #574 closed

[2020-02-04 08:25] #573 closed

[2020-02-04 08:25] #572 closed

[2020-02-04 08:33] gakonst commented on #570
Yup it's been removed

[2020-02-04 08:33] #570 closed

[2020-02-04 08:40] #610 closed

[2020-02-04 08:41] gakonst commented on #569
- trace is no longer exported
- account / account-store have been thoroughly documented
- comments in `Request` fields have been added
-  Comments on `Service` types and their functions have been added
- WrappedService params are in a good spot

[2020-02-04 08:41] #569 closed

[2020-02-04 09:04] gakonst commented on #561
- We shouldn't get rid of Packet, Evan said that it's not used, but it's actually used in the BTP implementation. https://github.com/interledger-rs/interledger-rs/blob/master/crates/interledger-btp/src/service.rs#L72-L103
- I removed the doc(hidden) from`put_var_octet_string_length` and replaced it with a comment

[2020-02-04 09:05] #561 closed

[2020-02-04 09:10] gakonst commented on #571
- Renamed to `CcpRoutingStore`
- `Mode` has been left as is, for potential future implementation of the `Idle` feature, since it's implemented in the js connectors
- `RouteProp` is now `pub(crate)`
- Added a small comment on `CcpRouteManagerBuilder`

[2020-02-04 09:10] #571 closed

[2020-02-04 10:37] gakonst commented on #575
Not sure why I had written this bullet initially, the error type is actually used within stream

[2020-02-04 10:37] #575 closed

[2020-02-05 08:09] #356 closed

[2020-02-05 08:22] #454 closed

[2020-02-05 08:50] #586 closed

[2020-02-05 11:46] gakonst commented on #590
The `BalanceStore` no longer has an associated type so that part is done

[2020-02-05 11:48] #590 closed

[2020-02-06 11:06] gakonst commented on #593
I've expanded our unit tests for that functionality here: https://github.com/interledger-rs/interledger-rs/pull/622/commits/2f83e7069cef6f014b0642b0ac8df1c82f1cba5b. These should be helpful for someone trying to understand the usage and should probably be added as examples to the readmes

[2020-02-06 18:07] #591 closed

[2020-02-06 20:13] bstrie opened #626 "Fully migrate the whole repo from bytes 0.4 to bytes 0.5"
Currently the biggest subtask of #140 is the removal of our duplicated `bytes` dependency. `bytes` is a library for zero-copy network protocols. Most of our crates depend on it directly, and all of them depend on it indirectly via its use in interledger-packet, which is the root of our workspace dependencies. interledger-packet uses bytes for zero-copy handling of ILP packets, so it's fundamental

[2020-02-07 02:58] bstrie commented on #140
#627 gets us about as close as we could be reasonably expected to do right now, barring the exception tracked in #626.

At the maximum, above-and-beyond-the-call-of-duty end of things, we could take note of the fact that we do still have some duplicated transitive dependencies thanks to some external crates that have not bumped their versions in a while, as shown by the following:

[code]
Some of

[2020-02-07 08:04] #140 closed

[2020-02-07 08:56] matdehaast opened #628 "Panic with docker and no Redis connection"
Seems there is a panic without any logging if you attempt to run the latest ilp-node from dockerhub.

Steps to reproduce
1.  `docker pull interledgerrs/ilp-node`
2. `docker run -it interledgerrs/ilp-node --ilp_address example.node_a \
--secret_seed 8852500887504328225458511465394229327394647958135038836332350604 \
--admin_auth_token admin-a \
--redis_url redis://127.0.0.1:6379/ \
--http_bind_addre

[2020-02-07 16:11] gakonst commented on #557
Now that all of our desired features are done, we should make a 1.0 release imo.

[2020-02-07 18:52] #273 closed

[2020-02-07 19:41] bstrie commented on #557
What's the release process, and who has the credentials?

[2020-02-26 08:20] kincaidoneil opened #631 "Support logs by default"
Right now, logging requires the `monitoring` feature to be enabled, which makes debugging almost impossible and isn't supported by the image on Docker Hub, for example.

This was noted by @koivunej, who also said in Slack:

[2020-02-26 08:40] kincaidoneil opened #632 "Create settlement engine account after mutual peering"
Unfortunately, #591 still has an issue: when peering two nodes, if the account that's prefunding is created before the other account, the settlement will be triggered immediately and then fail because the peer's account has not yet been created. Having the settlement engine backoff and retry isn't a great strategy, since the settlement engine has now idea why it failed or if/when it's messages wil

[2020-02-26 08:46] kincaidoneil opened #633 "STREAM fail-fast should ignore temporary errors"
The fail-fast behavior I implemented of 200+ packets and 99% failure rate doesn't work under liquidity errors/waiting for settlements. If there are insufficient liquidity errors that take a second or more to resolve, it'll hit the 99%+ error rate since the Rust implementation retries packets so quickly.

T04s (and maybe other temporary errors) should _not_ affect the fail-fast behavior.

[2020-02-27 00:39] kincaidoneil commented on #513
This is a pretty bad issue, since if any two peers are configured with low credit limits such they need to settle during a STREAM payment, it will always fail since the congestion controller gets down to 1 and would never be able to ramp back up due to the rounding issue. (In practice, this triggers an R01 since the connector won't forward packets that round down to 0, and the payment fails even f

[2020-02-27 06:18] kincaidoneil commented on #513
So, how might this minimum source packet amount be calculated?

Here's my model of this:

- `SCALED_RATE` &mdash; Factor to convert source amount to destination, between scales, and with slippage or a spread. For example, from scale 6 XRP to scale 9 ETH, with no slippage, this factor is `~1.035555` at current rates.
- `MARGIN_OF_ERROR` &mdash; Minimum percentage _difference_ between the sender's s

[2020-02-27 16:08] sappenin commented on #513
FWIW, the Rust connector currently intercepts this condition and responds with an `R01` error (see [here](https://github.com/interledger-rs/interledger-rs/blob/ed83801bb90298b0adcd2b52c808fbca3745aeea/crates/interledger-service-util/src/exchange_rates_service.rs#L114)).

I point this out because this condition can be triggered by any intermediary in the payment path, with any variety of code. So,

[2020-02-27 16:10] sappenin commented on #513
I need to think through this a bit more, but this seems like a good solution.

[2020-02-27 20:30] kincaidoneil opened #634 "How to handle payment "dust"?"
When enforcing minimum exchange rates, it's possible that--by chance--at the end of the payment, the remaining amount to send becomes too small to safely deliver it the recipient. i.e., the remaining is less the minimum source amount required to deliver money to the recipient without the exchange rate failing due to rounding.

In effect, this is payment "dust." How should this be handled? Should t

[2020-02-28 02:49] kincaidoneil commented on #68
The STREAM sender uses a random condition in the packet with connection close frame, so it will always be rejected. I think this behavior is preferable to the final money packet, since there's no way to know for sure if that packet will be fulfilled -- you might need to try again.

[2020-02-28 02:49] #68 closed

[2020-03-12 07:59] matdehaast opened #636 "BTP Closing Connection Issue"
If you run the node with the following `RUST_LOG="interledger=TRACE,warp" ` and connect to an account using BTP and then disconnect the client. The logging with spam indefinitely as far as I can tell.

[code]

Some preliminary investigation seems to point to this
https://github.com/seanmonstar/warp/issues/446
https://github.com/seanmonstar/warp/issues/257

[2020-03-25 12:39] #467 closed

[2020-03-25 12:39] #513 closed

[2020-03-25 12:39] #633 closed

[2020-03-25 12:39] #634 closed

[2020-05-26 11:20] #631 closed

[2020-05-28 12:47] georgeroman opened #646 "Simple Payment example fails"
I'm trying to get the [Simple Two-Node Interledger Payment](https://github.com/interledger-rs/interledger-rs/blob/master/examples/simple/README.md) example running locally, but for some reason, it fails at [this](https://github.com/interledger-rs/interledger-rs/blob/master/examples/simple/README.md#5-sending-a-payment) step with the following error:
`ILP CLI error: failed to send request: http://l

[2020-05-29 10:28] beertastic opened #648 "ko-stream-reliability"
the tutorial here:
https://interledger.org/spin-up-local-network.html

Says to use the stream 'ko-stream-reliability'
but that donesn't exist... know what it means, or what the alternative is?

[2020-05-29 15:10] kincaidoneil commented on #648
Sorry about that, I'll update it! If you just use `docker pull interledgerrs/ilp-node` instead of building from the branch, it should work.

[2020-05-29 15:12] beertastic commented on #648
Ah, while you're there, there's a few links that go to 404 pages.
If you need a list, I'll happily provide

Great site otherwise! I've learnt heaps today!!

On Fri, 29 May 2020, 16:11 kincaidoneil, <notifications@github.com> wrote:

[2020-06-24 16:06] matdehaast opened #652 "Project ownership/future"
Currently I think the only work being done is by the Equilibrium folks, whilst the current maintainers/owners are not actively involved anymore.

@kincaidoneil has been reviewing the code and helping out but I want us to more formally work out the ownership/custodianship going forward.

@sentientwaffle @emschwartz @gakonst do you guys have any input?

[2020-06-24 18:50] emschwartz commented on #652
I haven't been working on it for a while so I'm happy to transfer ownership to those that are

[2020-07-04 08:12] georgeroman commented on #646
I had some issues with the Redis connections and I couldn't get it working locally, but running the example inside a Docker network succeeded.

[2020-07-04 08:12] #646 closed

[2020-07-04 08:26] georgeroman opened #653 "Authorization error when sending payment"
I have the following script for setting up accounts between two parties:
[code]

The ILP nodes together with the settlement engines for each node are run inside a Docker network. This all works without any issues. However, making a payment from Alice to Bob (or from Bob to Alice) via `ilp-cli pay alice --auth in_alice --to http://bob-node:8770/accounts/bob/spsp --amount 10` fails with the followin

[2020-07-10 18:46] georgeroman commented on #653
Solved! I was running the connectors within a Docker network but was issuing the commands from the outside. Running `ilp-cli` within the same network fixed the issue. I think this should be documented somewhere.

[2020-07-10 18:46] #653 closed

[2020-07-19 19:07] georgeroman commented on #522
@dora-gt Can you remember why the `Error decrypting Unspecified` error was triggered? I'm running into the same issue (followed by `interledger_stream::server: Unable to parse data, rejecting Prepare packet`) and some help debugging it would be helpful.

[2020-07-20 04:00] dora-gt commented on #522
@georgeroman Sorry I don't remember. I wish I had time to dig into but recently I'm very hectic to dedicate to my current project. I'm sorry. If I'm free this weekend, I might be able to.

[2020-07-20 09:08] georgeroman commented on #522
No worries, I’ll look into it by myself and let you know if I manage to
address it.

On Mon, 20 Jul 2020 at 07:00, Taiga Nakayama <notifications@github.com>
wrote:

[2020-07-20 18:36] georgeroman commented on #522
@dora-gt I just managed to fix the issue. I was issuing a payment involving three ILP nodes (as in the [`eth-xrp-three-nodes`](https://github.com/interledger-rs/interledger-rs/tree/master/examples/eth-xrp-three-nodes) example) but I was only setting the exchange rates for the intermediate connector. Providing exchange rates to all three connectors fixed the issue for me.

[2020-10-19 23:17] chawlapalak commented on #158
Hi @emschwartz , I would like to work on this one.

[2020-10-19 23:35] chawlapalak commented on #158
Could you also please add the "hacktoberfest-accepted" label to the PR, once you review it. This PR is one of the course assignments in my Open source course that I am taking. Thanks.

[2020-12-02 18:30] #648 closed

[2020-12-20 06:17] omrtozd commented on #515
I'm also working on this and I'll probably implement the trading part into the intermediary's ETH settlement engine in this scenario. Do you have developed a better method?

[2020-12-20 09:07] gakonst commented on #515
I haven't worked on ILP for a while, so no! Go ahead :)

[2021-01-15 10:23] koivunej opened #668 "Tracking breaking changes"
While handling the latest 1.49 clippy lints in #667, there are at least two public instances of `Result<_, ()>` which are now nagged by clippy changing of which require a minor version bump:

- 2cecfbd786e0c68567e5ab4489490c25a1bc0a67: interledger-store, interledger-settlement
- ec9bba427a46677365ade5f77cc5bcaa2d6cf9ce: interledger-stream

Given commit 3f1a8de2a359c02c8d8edda88eacdd652d3992bd I ha

[2021-01-15 10:28] koivunej commented on #668
As I already commented on the 667, we need a way to start marking the commits with breaking changes. I suggest [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/#summary) with `!` in the scope and `BREAKING CHANGE` in the "footer".

[2021-01-16 04:53] kincaidoneil commented on #668
Sounds good to me 👍  (personally... wasn't a big fan of that "1.0" release)

[2021-01-18 00:23] Shaun-Regenbaum commented on #652
If someone wants to give me a crash course to the layout of the repo, I would love to get involved.

[2021-01-18 12:40] koivunej commented on #557
The 1.0 discussion was rekindled after I realized there never was a 1.0 release, which is good, giving us room to make breaking changes, currently tracked in #668.

[2021-01-19 11:46] pradovic opened #669 "CircleCI plan does not cover the instance needed to run build and tests"
CircleCI plan does not cover the instance needed to run build and tests, which is currently stopping a couple of PRs which are ready to merge.

One possible solution would be to switch to github actions. I am already on it, and will open the PR soon, so this could be a solution if accepted.

[2021-01-20 07:42] matdehaast commented on #669
@pradovic lets try get it moved to GH Actions. If it's really an issue moving then I will reach out and see if we can upgrade the account.

[2021-01-20 09:28] pradovic commented on #669
Sounds good! I already have it set up on a fork 90% and it seems to be working, so looks promising for now.

[2021-01-20 12:11] pradovic commented on #669
@matdehaast Reducing the instance size on circleCI seems to have solved the problem short-term. However, since circleCI decided to reduce the instances for a free account, I still think it still makes sense to move to github actions. I don't see any benefit in using the circleCI if we are not in the mood to upgrade the account, as github actions seem to offer enough functionality for now. Anywayz,

[2021-01-20 13:58] pradovic commented on #669
Well, I tried reducing the instance for docker updates and this is what I got:
[code]
So, proceeding try with gh actions def :)

[2021-02-03 11:20] pradovic opened #678 "Try out gh actions docker build & push by tag pushing"
In order to test the gh actions docker build & push for `ilp-node` I am planning to tag the `master` with `ilp-node-testver-0.0.1`. This should trigger docker build & push for `ilp-node` and `testnet` with this custom version.

NOTE: This looks a bit ugly and we will not repeat it in the future, but we need it as a test case in the process of moving circleci flow go github actions, as the docker c

[2021-02-03 14:40] koivunej commented on #678
The annotated tag didn't create a bidi linking nor is it working from this page but the first one was: https://github.com/interledger-rs/interledger-rs/releases/tag/ilp-node-testver-0.0.1

[2021-02-04 15:52] koivunej opened #680 "ilp-node --version contains the same string twice"
Steps to reproduce:
 1. `cargo run -p ilp-node -- --version` outputs `ilp-node 1.0.0ilp-node 1.0.0\n` on 243c9797d

I think the string should appear only once there: `ilp-node 1.0.0`.

For debugging any issues from binary releases it would also be good if this included the commit it was built from: `ilp-node 1.0.0 (243c9797d)`.

 I wonder if this could had been broken in some `clap` update? Couldn

[2021-02-05 13:43] aphelionz opened #681 "Docker image for `ilp-node` needs a HEALTHCHECK"
Due to route propagation delays, sometimes the container can appear spun up while there are still connectivity issues. It would be good if the image could report out a health check once everything is stable. This will help with k8s deployments, among other things.

[2021-02-12 00:13] pradovic commented on #678
@koivunej Can we close this one?

[2021-02-12 07:11] koivunej commented on #678
Yeah sure. dockerhub works now.

[2021-02-12 07:11] #678 closed

[2021-02-22 07:05] dependabot-preview[bot] opened #685 "Dependabot can't parse your Cargo.toml"
Dependabot couldn't parse the Cargo.toml found at `/crates/ilp-node/Cargo.toml`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/interledger-rs/update-logs/68804459).

[2021-02-22 13:52] koivunej commented on #680
Looked into this a bit, not really a good first issue because this touches the config handling in `crates/ilp-node/src/main.rs` which might not have any tests even. The double printing happens because clap is basically called twice.

[2021-02-24 12:57] koivunej commented on #685
This looks like a transient network error; there should be nothing wrong with the file.

[2021-02-25 14:48] #680 closed

[2021-03-11 08:52] koivunej commented on #626
Been looking out for `bytes = "1"` update while looking for how to get the codebase up to tokio 1.0. API wise much hasn't changed for `bytes` but overall there are some comments missing on why do the {Prepare,Fulfill,Reject} refer to `BytesMut` while having for example the address be `Bytes` backed. The only reason I can think for this is the mutability aspect of `Prepare` only called from https:/

[2021-03-17 12:39] Srtake opened #691 "Is there any way to send additional data when making payments?"
According to ILP SPSP specification, given the open STREAM connection, either the SPSP Client or the Server can begin sending ILP packets of data. In a wallet, we may want to send these additional data when making payments to satisfy our business requirements.

In Interledger.js ilp packet, there is an optional `data` field in `PayOptions` in `spsp.ts`. Could you tell me whether there is any appro

[2021-03-18 08:34] Srtake opened #692 "Error in three node payment"
## Description
Hello, I tried to follow the example [Interledger with Ethereum and XRP On-Ledger Settlement](https://github.com/interledger-rs/interledger-rs/tree/master/examples/eth-xrp-three-nodes) and configure a three node network. The only difference between my configuration and the tutorial is that I changed XRP ledger of Bob and Charlie to a different Ethereum testnet due to my requirement.

[2021-03-18 13:38] kincaidoneil commented on #692
Hey! Here are the [docs](https://github.com/interledger-rs/settlement-engines/blob/master/docs/configuration.md) for the Ethereum settlement engine. Since you're using a different testnet, I'd recommend also passing the `chain_id` argument to set that correctly. (Otherwise the transactions won't be correctly signed.) Let me know if that helps!

[2021-03-19 07:50] Srtake commented on #692
I added the parameter `chain_id` in my configuration, and changed the roles of Bob and Charlie accounts to PEER (otherwise there would still be many T04 errors). After the operation, things are much better. Thank you!

[2021-03-19 12:22] koivunej commented on #626
I failed to add a comment on #690 but to explain about the BytesMut usage: `interledger-packet::packet::{Prepare,Fulfill,Reject}` have a `BytesMut` because `Prepare` needs to be able to modify the packet representation, and this is expected to happen often. Perhaps it could be done over just `Bytes` and a method which would allow to use chained bytes. However it's unclear how big of a win this wou

[2021-03-19 16:41] #692 closed

[2021-03-24 14:36] #626 closed

[2021-03-24 14:39] koivunej opened #694 "Docker build is broken"
In #686 I added `vergen` which depends on `git` at build time but the `git` is not accessible during docker build, so the snapshot binary releases are not building at the moment. Either the commit information needs to be provided to the build process with other means than `git` (file, env variable) or `git` needs to be added as a dependency inside the docker. I don't really know docker that well s

[2021-03-26 08:05] koivunej opened #697 "Minimum Supported Rust Version"
In #696 I included 58835a5c0363d717866eeb7b742453709d6cb288 which updates the README not to include any MSRV.

MSRV first appeared in c4a5364d9c269270801f080ba47be222bfd498d7. After the adding of MSRV the version has been bumped at least for 1.45 defining the `f64 -> u64` conversion in #654 and 1.46 for `sized-chunks` in #689. Meanwhile we've been developing and CI has always been testing and runn

[2021-03-29 16:40] #694 closed

[2021-04-06 16:40] koivunej opened #704 "Handling of invalid stream packets"
#703 silenced two loggings which were output for decryption failures and for any parsing failure (including decryption failure). As before #703, the behaviour on invalid but successfully decrypting prepares was not changed, so they are still forwarded to next handlers.

Succeeding in decrypting the packet but failing to parse it should most lead to an immediate rejection. This should be confirmed

[2021-04-06 16:57] koivunej opened #705 "Continued fuzzing and hardening"
#693 introduced fuzzing targets to some crates and in the interest of avoiding forever lasting PRs, I didn't fix all of the found issues. Current status at the end of the PR is:

 *  packet: address is good, packet roundtrip added late, immediate roundtrip failure(s), #[ignore] tests
 *  btp: most fuzzed, looking quite good
 *  stream: roundtrip added late, immediate roundtrip failure(s), #[ignore

[2021-04-06 19:39] koivunej commented on #652
@Shaun-Regenbaum if you are still interested, I added a few good-first-issues which include more or less straightforward bug fixing based on discoved examples in #705.

[2021-04-07 12:32] koivunej commented on #705
Just realized that there are existing test cases in `crates/interledger-packet/src/packet.rs` which would suggest that supporting additional trailer bytes is ok. The tests are inside multiple aspect testing `test_try_from` named `#[test]` fns. If this is per the RFCs then the fuzzing target should be fixed and the test removed. I can't really see why this should be supported however and there are

[2021-04-07 13:50] koivunej commented on #522
Fixed this in #703. It took a few attempts, but eventually I saw that it was just being used to convert into F06 reject which would be handled by the caller by forwarding the request on to the next handler. This got me to notice that all invalid stream packets, even the ones which decrypt successfully, are handled by forwarding them on to next layer. Created #704 for this.

No need to close this i

[2021-04-15 08:08] koivunej opened #708 "Overuse of interledger_packet::errors::ParseError"
The most popular case is `ParseError::InvalidPacket` which requires allocation of a String, which is most often a static string but might be result of a `format!`.

Some variants like `ParseError::WrongType` are never constructed, instead `ParseError::InvalidPacket` is used:

* https://github.com/interledger-rs/interledger-rs/blob/8820e8de7f5f14644032346fce9e58ab4c20d1fd/crates/interledger-packet/

[2021-04-15 08:22] koivunej commented on #681
In testing code, this is currently done with [repeatedly issuing GET requests](https://github.com/interledger-rs/interledger-rs/blob/8820e8de7f5f14644032346fce9e58ab4c20d1fd/scripts/run-md-lib.sh#L50), for example in `examples/simple/README.md` (cannot link directly):

[code]

Similarly in [ilp-node benchmarks](https://github.com/interledger-rs/interledger-rs/blob/8820e8de7f5f14644032346fce9e58ab4

[2021-04-29 14:39] koivunej opened #711 "Test notifications::notifications_on_multitenant_config hangs"
See https://github.com/interledger-rs/interledger-rs/runs/2439432421#step:9:1726.

[2021-05-06 12:40] koivunej commented on #705
Removed the `security` label because the above linked PRs haven't contained any security fixes, or even large mallocs, only strictness, or roundtrippability changes.

Strictness: #707, #710, #715, #716
Roundtrippability: #719, #720

The #720 highlights a possible correctness issue with the parsing of [leap seconds on every date](https://github.com/interledger-rs/interledger-rs/pull/720/files#diff-

[2021-05-06 12:42] koivunej commented on #669
I think we could drop all of the .circleci code now, since it no longer seems to run on PRs, then close this issue?

[2021-05-06 13:59] pradovic commented on #669
Sunds good to me. I can do it today/tomorrow. Ok?

[2021-05-11 11:02] koivunej commented on #705
The corpus files after minimization in `interledger-packet`:

[code]

btp is around 820K, stream is 724K, ccp is 828K in total. Would probably be great to push them into the repo, have the CI run 100_000 runs of each for good measure or `-max_total_time=1s` which must be the cputime of the fuzz_target.

[2021-05-18 11:03] koivunej commented on #549
The amount of time spent sending money from one node to another was done in #663 for both single packet and multiple broken down on packets, with btp and http urls.

[2021-05-18 11:05] koivunej commented on #341
CircleCI is no longer used, closing this one.

[2021-05-18 11:05] #341 closed

[2021-05-18 11:06] koivunej commented on #340
I think at the moment all services are in fact boxed and return boxed futures, this issue must be related to pre stable async/await in rust.

[2021-05-18 11:07] #340 closed

[2021-05-18 11:08] koivunej commented on #450
I must've been using lld as well (per default in my cargo config). It is faster, but do know that `gdb` will have issues with it.

[2021-05-21 09:26] koivunej opened #724 "Stray printlns"
These should probably all be just `error!` outside tests and binary packages.

_Originally posted by @koivunej in https://github.com/interledger-rs/interledger-rs/pull/723#discussion_r636770511_

[2021-05-26 09:19] omrtozd opened #725 "ilp-cli testnet setup command error"
Deprecated Xpring API had an endpoint `https://xpring.io/api/accounts/<assetCode>` to create accounts on Xpring's side. `ilp-cli testnet setup` command was using this endpoint to create an account and peer with it to connect the testnet easily.

- https://github.com/omrtozd/interledger-rs/blob/0fcaf5d0a9b34d52bde08250a5f52f5398f6c7ab/crates/ilp-cli/src/interpreter.rs#L326-L335

But since Xpring re

[2021-06-01 22:27] sappenin commented on #725
Hi @omrtozd,

I maintain the Xpring/RippleX testnet nodes, and can help answer any questions you might have. Some notes/comments from me about what you wrote above are below.

### 1. API endpoint
RippleX is going to be moving our ILP Testnet over to the https://ilpv4.dev domain in the not too distant future, so I would use that URL if you're writing new code for your CLI. The endpoint should work

[2021-06-01 22:46] omrtozd commented on #725
Thanks for the notes. I noticed that API doesn't return a BTP endpoint, is this intentional, or RippleX nodes don't use BTP?

[2021-06-15 09:11] #708 closed

[2021-07-02 19:25] sappenin commented on #725
Yes, this is intentional. At first it was because I didn't have time to implement BTP, but in practice, ILP-over-HTTP works very well, so we haven't had a need or request to implement BTP in the Java Connector (I suspect we never will).

[2021-08-06 10:41] koivunej opened #733 "CI: missing building of cargo-fuzz targets"
Looking at the existing examples in [serde/json](https://github.com/serde-rs/json/blob/6346bb30037f31ea69b9a4eb029875e23521681c/.github/workflows/ci.yml#L88-L95) for example, there probably is currently no supported way around installing `cargo-fuzz` on a nightly and just `cargo fuzz build` the targets under each `crates/interledger-*/fuzz`.

Implementing this might be difficult for the caching, b

[2021-08-06 11:18] koivunej commented on #636
This probably has been fixed for some time now, as the current 629f8b52809e58141401b37548cad39152626d4c lockfile has 0.2.5 and the linked issue was [fixed in 0.2.2](https://github.com/seanmonstar/warp/commit/6c4283a1c4ff111ae4dcddf26c4b040344602b56). Commit b1fcbebd2dbbf27988091f5f3c0916847a949ff5 updated from 0.2.1 to 0.2.2.

Just out of interest, what btp client/lib/code/tool did you use to conn

[2021-12-14 16:14] koivunej opened #737 "RUSTSEC-2020-0159: migration from chrono"
[RUSTSEC-2020-0159](https://rustsec.org/advisories/RUSTSEC-2020-0159) means there should be an investigation into migrating to `time`. Some parts of the current timestamp parsing in the -packet, or -stream should be extra carefully verified against the respective interledger RFC's as there might not be good existing test cases.

[2021-12-14 16:17] koivunej commented on #737
Marking this as `good-first-issue` for quite limited scope and easy discoverability (follow chrono dependencies). The scope includes multiple crates, but test case examples should exist wherever there is parsing code.

[2022-08-04 11:09] pinkforest opened #745 "Maintenance Status"
Hello @koivunej @KristianWahlroos @matdehaast @emschwartz

Just wondering what the maintenance status of this project would be ?

I have open issue here to detail analysis which came after our discussion around unicase:
https://github.com/rustsec/advisory-db/issues/1303

There is also concern around username comparison here to update unicase dependency:
https://github.com/interledger-rs/interledge

[2022-08-06 16:28] pinkforest commented on #737
There is now new version of chrono we marked as patched
https://github.com/rustsec/advisory-db/pull/1306
The new version has pure rust version of localtime_r :partying_face:
You might want to bump your Cargo.lock for it

[2022-08-06 16:57] koivunej commented on #737
@pinkforest thanks for letting me know!

[2022-08-06 19:00] pinkforest commented on #737
@koivunej  thanks for the response :purple_heart:

Would you have time to roll a release to crates.io so we can point peeps to the new release potentially ?

Re: maintenance: https://github.com/interledger-rs/interledger-rs/issues/745

Could we also bump up the unicase dep? re: https://github.com/interledger-rs/interledger-rs/pull/744

Cheers

[2022-08-06 20:46] koivunej commented on #737
I can handle the Cargo.lock updates because I have should still have write access, but I cannot update crates.io. Even if I could, I would probably just yank the existing releases re: #687 as this repo's output is only used as binary as far as I know rather than the many interconnected library crates.

I'll reply you over at #745 over the maintainership, possibly later.

[2022-08-06 20:52] pinkforest commented on #737
Sweet - @emschwartz seems to have the crates.io access

[2022-08-11 10:28] koivunej commented on #745
Sorry for taking so long with this @pinkforest but as for me and rest of @eqlabs we are not actively maintaining this repository. I think it would be good to mark this unmaintained for now. I will however make the version bumps noted.

[2022-08-11 10:53] koivunej commented on #737
chrono got updated in #747, so closing this. unicase is still pending.

[2022-08-11 10:53] #737 closed